								{% if liked %}

									
									<a href="{% url 'cannabis_db:like_strain' strain.pk %}"><i class="fa-solid fa-thumbs-up"></i></a></i> 

								{% else %}
									<a href="{% url 'cannabis_db:like_strain' strain.pk %}"><i class="fa-regular fa-thumbs-up"></i></a></i> 
									

								{% endif %}

								({{strain.likes.count}})







								{% if disliked %}
	
								<a href="{% url 'cannabis_db:dislike_strain' strain.pk %}"><i class="fa-solid fa-thumbs-down"></i></a>

								

								{% else %}

								<a href="{% url 'cannabis_db:dislike_strain' strain.pk %}"><i class="fa-regular fa-thumbs-down"></i></a>
								{% endif %}
								({{strain.dislikes.count}})


						