body{
  font-family: "Work Sans", sans-serif;

	background: #fff;
}


h1,h2,h3,h4,h5,h6{

		padding: 0;
	margin: 0;
}
p{

	font-weight:300 ;
	padding: 0;
	margin: 0;
	color: #666;
}
a{
	color: #666;
}
#headline_heading{
	font-weight:300 ;
	font-size: 15px;
}
#page_heading{
	font-size: 20px;
}
.card{
	border:none
}
.nav{
	background: white;
	padding: 7px 0px;
}
.footer{
	background: white;
}
hr{
	border-top:1px dotted #333;

}
.border_right{
	border-right: 1px dotted #ddd;
}
.logo{
	text-transform: uppercase;
	letter-spacing: -1px;
}
.db_logo_style {
	color:#105700;
	font-weight: 900;
}
.radius_sm{
	border-radius: 3px;
}
.radius_md{
	border-radius: 5px;
}