body{
	font-family: "Inter", sans-serif;
	background: #FBFBFB;
}


h1,h2,h3,h4,h5,h6{
	font-family: "Inter", sans-serif;
		padding: 0;
	margin: 0;
}
p{
	font-family: "Inter", sans-serif;
	font-weight:400 ;
	padding: 0;
	margin: 0;
}
a{
	color: #666;
}
#headline_heading{
	font-weight:300 ;
	font-size: 15px;
}
#page_heading{
	font-size: 20px;
}
.card{
	border: 1px solid #eee;
}
.nav{
	background: white;
	padding: 7px 0px;
}