html{
    height: 100%;
width: 100%;
}




.catalog_item_link{
    text-decoration: none;
}







body{
    font-family: "Mona Sans", sans-serif;
    background:#fff;
    --page-heading-color:#000;
    --page-border-color:#999;

    height: 100%;
    width: 100%;
}
body.dark-theme{
    --bkg-color:#000;
    --bkg-color-dark-grey:#07090d;
    --bkg-color-gr:#106600;
     --text-color-green: #39FF14;
     --text-color-lightgrey: #777;
     --text-color-lightgrey-max: #eee;
     --page-border-color:#39FF14;
     --page-heading-darker-color:#189900;
}

body{
    font-family: "Mona Sans", sans-serif;
    background: var(--bkg-color);
    --page-heading-color:#000;
    --page-border-color:#999;
    
    height: 100%;
    width: 100%;
}


#profile_heading  {
  color: var(--text-color-green);
  font-weight: 900;
  letter-spacing: -1px;
}

#page_heading  {
  color: var(--text-color-green);
  font-weight: 900;
  letter-spacing: -2px;
}
#headline_heading  {

  color: var(--page-heading-darker-color);
font-weight: 300;
}
#tagline_heading{
      color: var(--page-heading-darker-color);
font-weight: 300;
}

.card.dark-theme{
    --bkg-color:#0f1824;
}
.card {
  background:var(--bkg-color);
}


.nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    font-size: 12px;
}

.login_page_bg{
    background-image: url('/static/imgs/login-page-bg.jpg') ;
    background-size: 100%;
    height: 100%;
    width: 100%;
}





p{
    color: var(--text-color-lightgrey);
}






a{
    color: var(--text-color-lightgrey);
}





.material-symbols--verified {
  display: inline-block;
  width: .8em;
  height: .8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2339FF14' d='m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z'/%3E%3C/svg%3E");
}































.light_gray_section_background{
    background: white;
}

.login_form_wrapper{

    margin-top: 180px;
    margin-bottom: 150px;

}
.login_form_card{
    background: white;
border: none;


}


.login_form_table tr td{background: white;}






.border_right{
    border-right:1px dotted #999;
}





::placeholder{

    color:var(--text-color-green);
}


.form-control {
    border:1px solid #018223;
    color: var(--text-color-lightgrey);
    margin-bottom: 5px;
    background: var(--bkg-color-dark-grey);
    color: var(--text-color-green);
    font-size: 12px;

}
.form-control:hover {
    outline: none;
   box-shadow: inset 0px 0px 6px 3px var(--bkg-color-gr);
    color: var(--text-color-lightgrey);
    border:1px solid #018223;
    box-shadow: -1px -2px -3px -10px #333;
     background: var(--bkg-color-dark-grey);
}
.form-control:focus {
    outline: none;
    color: var(--text-color-lightgrey);
   box-shadow: inset 0px 0px 6px 3px var(--bkg-color-gr);
    border:1px solid #018223;
    box-shadow: -1px -2px -3px -10px #333;
background: var(--bkg-color-dark-grey);
}
.form-control:active {
    outline: none;
  box-shadow: inset 0px 0px 6px 3px var(--bkg-color-gr);
    color: var(--text-color-lightgrey);
    border:1px solid #018223;
    box-shadow: -1px -2px -3px -10px #333;
      background: var(--bkg-color-dark-grey);

}








.footer{
    background: var(--bg-dg-color);
    border-top: 1px solid var(--page-border-color);
        padding: 50px 0px;
}



.filler{
    height: 20px;
}
.main-nav{

    padding: 10px;
    border-bottom: 1px solid var(--page-border-color);
}











::selection{
    background: #026e15;
    color: white;
}

.center{
    text-align: center;
}
.button {
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.sm{
    font-size: 10px;
    padding: 7px 16px;
    border-radius: 3px;
}
.md{
    font-size: 13px;
    padding: 9px 19px;
    border-radius: 5px;
}
.lg{
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 7px;

}

.full {
    width: 100%;
}
.green{
    background: #018711;
    color: white;
}
.red{
    background: #c20000;
    color: white;
}
.orange{
    background: #d43d02;
    color: white;
}


.login_with_x_btn{
    background: #0f7d01;
    color: white;
    margin-bottom: 3px;

}
.login_with_x_btn:hover{
    background: #0f7d01;
    color: #ddd;
    margin-bottom: 3px;

}
.login_with_f_btn{
    background: #138f03;
    color: white;
    margin-bottom: 3px;
}
.login_with_f_btn:hover{
    background: #138f03;
        color: #ddd;

    margin-bottom: 3px;
}
.login_with_g_btn{
    background: #0d6601;
    color: white;
    margin-bottom: 3px;
}
.login_with_g_btn:hover{
    background: #0d6601;
       color: #ddd;

    margin-bottom: 3px;
}
.login_btn{
    background: #094a01;
    color: white;
    padding: 9px 19px;
    margin-bottom: 3px;
}
.create_account_btn{
    background: #094a01;
    color: white;
    margin-bottom: 3px;
}

      .jaba{

      }
      .search_app_form_tf{
        float: left;
        background: var(--bkg-color-dark-grey);
      }
      #search_app_form_btn{
        float: right;
        background: white;
        position: absolute;
        padding: 1px;
        margin-left: -27px;
        margin-top: 2px;
        border: none;


      }
      hr{
    padding: 0;
    border-top: 1px dotted var(--page-border-color);
    margin: 0;
}



.follow_badge{
    background: blue;
    color: white;
    padding: 2px 10px;
    width: 100%;
}
.following_badge{
background: green;
color: white;
    padding: 2px 10px;
}
.strain_type_label{
    margin: 7px;
    position: absolute;

}


#strain_label_indica{
background: #00a62c;
    color: white;
    padding: 2px 5px;
    width: 26px;
    font-size: 10px;
    border-radius: 3px;

}
.strain-table{}
.strain-feelings-table{}
.table tr td{
    padding: 0;
    border: none;
}
.bordered-bottom{
    border-bottom: 1px solid #EEEEEE;
}

#strain_label_sativa{
    background: #018223;
    color: white;
    padding: 2px 5px;
    width: 26px;
  font-size: 10px;
         border-radius: 3px;
}
#strain_label_hybrid{
background: #015918;
    color: white;
    padding: 2px 5px;
        width: 26px;
font-size: 10px;
         border-radius: 3px;
}
.newsletter_subscription_form_tf{
    width: 100%;
}



      #newsletter_subscription_form_btn{
        background: none;
        border: none;
        color: #018711;
        position: relative;
        margin-left: -135px;
      }












                                    .profile_follow_link{
                                        width: 25%;
                                        float: right;
                                    }





.logo{
	text-transform: uppercase;
	letter-spacing: -1px;
}
.db_logo_style {
	color:#105700;
	font-weight: 900;
}
.radius_sm{
	border-radius: 3px;
}
.radius_md{
	border-radius: 5px;
}
.radius_lg{

}


.nav-tabs {
    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: #ddd;
    --bs-nav-tabs-border-radius:0;
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color:#666;
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    margin: 0;

    color: #666;
}
.nav-link:focus {
    color: #666;
      font-weight: 600;
}
.nav-link:active {
    color: #666;
      font-weight: 600;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #666;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
    border-bottom:none;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: none;
    border:none;
    background: #016A08;
    color: white;
}
.close, .close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    opacity: .75;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color:#1A8922;
    background-clip: padding-box;
    border: none;
    border-radius:none;
    outline: 0;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    background: white;
}
.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: white;
    border:none;
}

.modal-backdrop
{
    opacity:0.2 !important;
    background: #000;
}



.create_account_form_card{
      margin-top: 180px;
      margin-bottom: 380px;
}
.contact_form_card{
          margin-top: 180px;
      margin-bottom: 180px;
}
.create_account_form_card{

}

.xs{
    font-size: 10px;
}
.front_page_section_heading{
    font-size: 13px;
    font-weight: 500;

}




.main_menu{
    padding: 0;
    margin: 0;
    list-style: none;

}
.main_menu li {
    display: inline;
}
.main_menu li a{
    text-decoration: none;
    margin-right: 15px;
    text-transform: capitalize;
}
.main_menu li a:hover{
    text-decoration: none;
    margin-right: 15px;
    text-transform: capitalize;
    color: #666;
}



.dispensary_menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.dispensary_menu li{
color: #999;
font-size: 12px;
margin-bottom: 10px;
}


































#dispensaries_table{

}
#dispensaries_table tr {
border: 1px solid #ddd;
}
#dispensaries_table tr td{
    border: 1px solid #ddd;
    padding-left: 12px;
    font-size: 10px;
}

#ai_tools_heading{
    font-weight: 300;
}

.dispensaries_search_form_box{
    width: 300px;
}
.dispensaries_searhc_form_btn{
    margin-left: -30px;
    margin-top: 3px;
    float: left;
    background: none;
    border: none;
}
#dispensaries_search_tf{
    float: left;
}