#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
font-family: 'Roboto Slab', serif;
  background: #e6e6e6;
}
a{
  font-weight: 700;
  color: #666;
}
.thumbnail_image_card{
  border:1px solid #ddd;
    padding: 0;
  margin: 0;
}.image_full_width{
  width: 100%;
}
.strains_title{
  font-size: 11px;
  font-weight: 800;
  text-decoration: none;
  color: #333;
  padding: 0;
  margin: 0;
}
.sidebar_ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar_ul li{
  border-bottom: 1px dotted #ddd;
}
.sidebar_ul li a{
 color: #666;
 text-decoration: none;
 font-size: 13px;
}
.sidebar_card_for_flavors_menu{
  padding: 10px 0px 30px 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.sidebar_card_for_feelings_menu{
  padding: 10px 0px 30px 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.sidebar_card_for_helps_with_menu{
  padding: 10px 0px 30px 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.sidebar_card_for_terpenes_menu{
  padding: 10px 0px 30px 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.sidebar_card_for_footer_menu{
  padding: 10px 0px 30px 10px;
  max-height: 290px;

  margin-bottom: 20px;
}
#search_app_btn{
  background: none;
  color: #ddd;
  padding: 1px 7px ;
  margin-left: -5px;

  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  border-left: none;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;


}
.kokokok{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  width: 90%;
  padding-left: 10px;

  border-right: none;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-left: 2px solid green;

}
.kokokok:hover{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  width: 90%;

outline: none;
}
.kokokok:active{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  width: 90%;

outline: none;
}
.kokokok:focus{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  width: 90%;

outline: none;
}
#search_form{

}
.search_form_container{
  margin-top: 7px;
}
#search_form_tf{

}
.navigation{
  background: #fff;
  padding-top: 3px;
  padding-bottom: 4px;
    box-shadow: 3px -10px 13px 1px #666;

    width: 100%;
    position: fixed;
    z-index: 999;
}
b{
  font-weight: 800;
}

hr{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
    padding: 0;
  margin: 0;
}

.howtoga{
  background: green;
  color: white;
  border: none;
  margin-top: 9px;
}
.nav{
  padding: 10px 0;
  margin-top: 0px;
  float: right;
  list-style: none;

}
.nav li {
  display: inline;
  margin-left: 20px;
}
.nav li a {
  color: #111;
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
}
p{
  font-size: 12px ;
}
.border_radius_sm{
  border-radius: 5px;
}








.main_footer{
  height: 500px;
  background: green;
}





/**********************************/
.form-control{
  margin-bottom: 3px;
}
.login_form_table tr td{
  padding: 0;
  border:none;
}
.login_form_card{
  margin: 280px 0;
  padding: 20px;
  width: 40%;
  margin-left:81%;
  position: relative;
  box-shadow: 1px 1px 21px -13px #000;
  background: white;
}
.login_btn{
  background: green;
  color: white;
  width: 100%;
  margin-bottom: 10px;

}
.login_btn:hover{
  background: #000;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}
.f-btn{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.f-btn:hover{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn:hover{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn:hover{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
/**********************************/



.custom_thumbnail_badge_hy{
  background: #0E8B16;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
  box-shadow: inset 0 0 1px 1px #666;
}
.custom_thumbnail_badge_in{
  background: #00D90E;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
box-shadow: inset 0 0 1px 1px #999;
}
.custom_thumbnail_badge_st{
    background: #00AC0B;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
  box-shadow: inset 0 0 1px 1px #666;
}

.rate_link{
  color:#333;
}

.polo{
margin-top: 10px;
position: absolute;

}
.pala{
  width: 50%;
  float: left;
  margin-top: 20px;
  position: absolute;
}
.peelee{
  width: 50%;
  float: right;
  margin-top: 20px;
  right: 0;
  position: absolute;
}

/************** cannabis_db styles starts here ******************************/

.title_heading{
  color: #000;
  padding: 0;
  margin: 0;
  font-weight: 900;
}
.headline{

}
.text-right{
  text-align: right;
}
p{
  padding: 0;
  margin: 0;
font-family: 'Roboto Slab', serif;
}

hr{
  border-top:1px solid #000;
  padding: 0;
  margin: 0;
}
#strain_type_badge_HYBRID{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0px;
}
#strain_type_badge_SATIVA{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
   border-radius: 0px;
}
#strain_type_badge_INDICA{
  background: #00af0f;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0px;
}
.feeling_desc{
  font-size: 10px;
  color: #666;
}
.review_rating_card{
  margin: 5px 0px;
  border: 1px solid #000;
}
.review_rating_card_header{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #EEE;
}
.review_rating_card_body{
  padding: 0;
  margin: 0;
}
.review_rating_card_footer{
  padding: 0;
  margin: 0;
  border-top: 1px solid #EEE;
}
.review_rating_card p {
  font-size: 12px;
    padding: 0;
  margin: 0;
}
.custom_card_for_reviews_box{
  margin-top: 3px;
}
.description_p{
  margin: 5px 0 ;
}
/************** cannabis_db styles ends here ******************************/

.filler{
  height: 70px;
}

.custom_tf{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: 3px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.custom_tf:hover{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: 3px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.custom_tf:focus{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: 3px;
  box-shadow: inset 1px 1px 3px 0px #444;
  outline: none;
  transition: all .6s;
  color: black;
}
::placeholder:focus {
  color: black;
}
.custom_tf:focus{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: 3px;
  box-shadow: inset 1px 1px 3px 0px #444;
  outline: none;
  transition: all .6s;
  color: black;
}
.custom_tf:active{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: 3px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.custom_ta{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  transition: all .5s ease-out ;
  height: 50px;
  min-height: 50px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.custom_ta:hover{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  transition: all .5s ease-out ;
  min-height: 150px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.custom_ta:focus{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
    font-size: 8px;

  transition: all .5s ease-out ;
  min-height: 150px;
  box-shadow: inset 1px 1px 3px 0px #444;
  outline: none;
}
.custom_ta:active{
  width: 100%;
  border-radius: 2px;
  border:none;
  padding: 5px 10px;
  font-size: 8px;
  transition: all .5s ease-out ;
  min-height: 150px;
  box-shadow: inset 1px 1px 3px 0px #999;
}
.offcanvas-header{
  background: green;
  color: white;

}
.official_green_button_sm{
  background: green;
  color: white;
   text-transform: capitalize;
   font-size: 10px;
   border:none;
    border-radius: 2px;
}
.official_green_button_m{
    background: green;
  color: white;
  text-transform: capitalize;
  font-size: 10px;
   border:none;
   border-radius: 2px;
}
.official_green_button_lg{
    background: green;
  color: white;
   text-transform: capitalize;
    border:none;
}
.close_btn{
  color: white;
}
.sidebar_profile_menu{

}
.sidebar_profile_menu a{
  color: white;
}
.card{
  border: none;
  box-shadow: 1px 1px 1px 1px #ddd;
  border-radius: 3px;
}
.custom_card{
  margin: 6px 0;
  background: #fff;
}

.strain_details_card{
  min-height: 140px;
  padding: 20px ;
}
.custom_card_for_reviews_form{
  background: white;
}
.tiny_font{
  font-size: 10px;
}







/************** cannabis_db styles for review rate form starts here ******************************/

.rate {
  text-align: left;
  float: left;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#999;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ebbc00;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ebbc00;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ebbc00;
}

/************** cannabis_db styles for review rate form ends here ******************************/










/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green; 
}





.chobbo{
  background: #60c473;
  height: 100%;
  width: 50%;
  float: left;
}


.chabba{
  background-image: url('../imgs/bg_koko.jpg');
  background-size: 100%;
  height: 100%;
  width: 50%;
  float: right;
}

.chabbachanga{

}
.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.half, .half .container > .row {
  height: 100vh;
  min-height: 700px; }

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px; } }

.half .contents {
  background: #f6f7fc; }

.half .contents, .half .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%; } }
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.half .bg {
  background-size: cover;
  background-position: center; }

.half a {
  color: #888;
  text-decoration: underline; }

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #fb771a; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fb8633; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }









.misc_box{
  padding: 10px 0;
}
}

.like_btns_box{
  float: right;
}


.dispensary_list_item{
  margin-bottom: 4px;
}


.edit_section_link{
  font-size: 10px;
}

.custom_width_column_for_dispensaries_list_counter{
  min-width: 2%;
}

.dispensaries_list_item_card{
  margin-bottom: 2px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.dispensaries_list_item_title_link{
  font-size: 11px;
}
.dispensaries_list_item_description_text{
  font-size: 10px;
}

.float_right{
  float: right;
}

.type_of_dispensary_label_style{
  background: green;
  color: white;
  font-size: 8px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px;
  width: 70px;
  float: right;
  border-radius: 2px;
  margin: 3px 0;
}
.dis_type_box{
  height: 50px;
  border-bottom:1px solid #ddd;
}

.modal-content{
  padding: 0px;
}

.modal-ku {
  width: 850px;
  margin: auto;
}

.bujaj{
  width: 80%;
}
#profile_photo_box{
  text-align: center;
}
#profile_greeting_headline span{
  font-weight: 300;
}

.profile_links{
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile_links li {

}
.profile_links li a{
  font-size: 12px;
}

#little_link{
  font-size: 10px;
  text-align: left;
}

.profile_social_profiles_links_menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile_social_profiles_links_menu li {
  display: inline;
}
.profile_social_profiles_links_menu li a {
  font-size: 12px;
}