#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
font-family: 'Roboto Slab', serif;
  background: #e6e6e6;
}
a{
  font-weight: 700;
}
.thumbnail_image_card{
  border:1px solid #ddd;
    padding: 0;
  margin: 0;
}
.strains_title{
  font-size: 11px;
  font-weight: 800;
  text-decoration: none;
  color: #333;
  padding: 0;
  margin: 0;
}
.sidebar_ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar_ul li{
  border-bottom: 1px dotted #ddd;
}
.sidebar_ul li a{
 color: #666;
 text-decoration: none;
 font-size: 13px;
}
.sidebar_card_for_flavors_menu{
  padding: 10px;
  margin-bottom: 20px;
  max-height: 290px;
  overflow-y: scroll;
overflow-wrap:normal;
}
.sidebar_card_for_feelings_menu{
  padding: 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.sidebar_card_for_helps_with_menu{
  padding: 10px;
  max-height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
#search_form_tf{
  width: 90%;
}
.navigation{
  background: #fff;
  padding-top: 3px;
  padding-bottom: 4px;
}
b{
  font-weight: 800;
}

hr{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
    padding: 0;
  margin: 0;
}
.nav{
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
}
.nav li {
  display: inline;
  margin-left: 20px;
}
.nav li a {
  color: #111;
    display: inline;
}
p{
  font-size: 12px ;
}
.border_radius_sm{
  border-radius: 5px;
}








.main_footer{
  height: 500px;
}





/**********************************/
.form-control{
  margin-bottom: 3px;
}
.login_form_table tr td{
  padding: 0;
  border:none;
}
.login_form_card{
  margin: 200px 0;
  padding: 20px;
}
.login_btn{
  background: #000;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.login_btn:hover{
  background: #000;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}
.f-btn{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.f-btn:hover{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn:hover{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn:hover{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
/**********************************/



.custom_thumbnail_badge_hy{
  background: #0E8B16;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
}
.custom_thumbnail_badge_in{
  background: #00D90E;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
}
.custom_thumbnail_badge_st{
    background: #00AC0B;
  color: white;
  font-size: 10px;
  width: 19px;
  height: 17px;
  padding-left:  2px;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  font-weight: 700;
}







/************** cannabis_db styles starts here ******************************/

.title_heading{
  color: #000;
  padding: 0;
  margin: 0;
  font-weight: 900;
}
.headline{

}
p{
  padding: 0;
  margin: 0;
}

hr{
  border-top:1px solid #000;
  padding: 0;
  margin: 0;
}
#strain_type_badge_HYBRID{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0px;
}
#strain_type_badge_SATIVA{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
   border-radius: 0px;
}
#strain_type_badge_INDICA{
  background: #00af0f;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0px;
}
.feeling_desc{
  font-size: 10px;
  color: #666;
}
.review_rating_card{
  margin: 5px 0px;
  border: 1px solid #000;
}
.review_rating_card_header{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #EEE;
}
.review_rating_card_body{
  padding: 0;
  margin: 0;
}
.review_rating_card_footer{
  padding: 0;
  margin: 0;
  border-top: 1px solid #EEE;
}
.review_rating_card p {
  font-size: 12px;
    padding: 0;
  margin: 0;
}
.custom_card_for_reviews_box{

}
/************** cannabis_db styles ends here ******************************/

.filler{
  height: 30px;
}
.custom_tf{
  width: 100%;
  border-radius: 3px;
  border:1px solid #DDD;
  padding: 3px 5px;
  font-size: 12px;
  margin-bottom: 3px;
}
.custom_ta{
  width: 100%;
  border-radius: 3px;
  border:1px solid #DDD;
  padding: 3px 5px;
  font-size: 12px;
  transition: all .5s ease-out ;
  min-height: 150px;
}


.card{
  border: none;
  box-shadow: 1px 1px 1px 1px #ddd;
  border-radius: 3px;
}
.custom_card{
  margin: 6px 0;
  background: none;
}

.strain_details_card{
  min-height: 140px;
  padding: 20px ;
}
.custom_card_for_reviews_form{
  background: white;
}
.tiny_font{
  font-size: 10px;
}







/************** cannabis_db styles for review rate form starts here ******************************/

.rate {
  text-align: left;
  float: left;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#999;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ebbc00;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ebbc00;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ebbc00;
}

/************** cannabis_db styles for review rate form ends here ******************************/










/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green; 
}