{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">





<!--###################################################################################################################### -->




				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card  p-3">
					<div id="profile_photo_box">
						{% load thumbnail %}
						<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="  border_radius_sm img-fluid" >
						<br>
						
					</div>
					</div>

					<div class="card custom_card p-3">


						({{user.profile.followers.count}}) follower <br>
						<a href="{% url 'memberships:follow_user' user.pk %}">follow<a><br>
							<a href="{% url 'memberships:submit_strain' user.pk %}">submit strain</a>

							<hr>

						{% include 'widgets/sidebar.html' %}
							<ul class="profile_links">
						
							<li><a href="{% url 'memberships:edit_profile' user.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit profile</a></li>
							<li><a href="{% url 'accounts:account_settings' %}"><i class="fa-solid fa-sliders"></i> Settings</a></li>
							<li><a href=""><i class="fa-solid fa-message"></i> My reviews</a></li>
							<li><a href="{% url 'cannabis_db:saved_dispensaries' user.pk %}"><i class="fa-solid fa-message"></i> My saved dispensaries</a></li>
							<li>
								{% if user.is_authenticated %}
									<i class="fa-solid fa-bookmark"></i> <a href="{% url 'cannabis_db:saved_strains' user.pk %}">My saved strains</a>
								{% endif %}
							</li>
							<li><a href="{% url 'memberships:my_strains' user.pk %}"><i class="fa-solid fa-message"></i> My submitted strains</a></li>
					
						</ul>
					</div>
				</div>




<!--###################################################################################################################### -->



				<div class="col-md-6">
					
					<div class="filler"></div>
					<div class="card p-3">
						<h5 id="profile_greeting_headline"><b>Welcome back:</b> <span>{{user}}</span></h5>
						<hr>
						<ul class="profile_social_profiles_links_menu">
							{% if user.profile.website_url %}
								<li> <a href="{{user.profile.website_url}}"> <i class="fa-solid fa-globe"></i> Website URL</a></li> | 
							{% endif %}
							
							{% if user.profile.twitter %}
								<li><a href="{{user.profile.twitter}}"><i class="fa-brands fa-square-x-twitter"></i> X </a></li> | 
							{% endif %}
							
							{% if user.profile.facebook %}
								<li><a href="{{user.profile.facebook}}"><i class="fa-brands fa-square-facebook"></i> Facebook </a></li> | 
							{% endif %}
							
							{% if user.profile.youtube %}
								<li><a href="{{user.profile.youtube}}"><i class="fa-brands fa-square-youtube"></i> YouTube</a></li> | 
							{% endif %}
							
							{% if user.profile.instagram %}
								<li><a href=" {{user.profile.instagram}}"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
								<hr>
							{% endif %}
						</ul>
						
						<br>
						<p>{{user.profile.biography|safe}}&nbsp; <a href="{% url 'memberships:edit_profile' user.pk %}" id="little_link"><i class="fa-solid fa-pen-to-square"></i> Edit</a></p>
						<br>
			


					</div>
				</div>


<!--###################################################################################################################### -->


				<div class="col-md-2">	
					<div class="filler"></div>		
					{% for follower in user.profile.followers.all %}
						<a href="">{{follower}}</a>

					{% endfor %}
				</div>




			</div>
		</div>
	{% endblock %}







