{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-2">
<!--###################################################################################################################### -->
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body p-0">
							{% load thumbnail %}
							<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="img-fluid" >
							
						</div>
						<div class="card_footer"></div>
						
					</div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body">
							
						
							{% include 'components/sidebar_menu.html' %}
						</div>
						<div class="card_footer"></div>
						
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-6">				
					<div class="filler"></div>
					<div class="card">
					<div class="card_header">
						<h5 id=""><b>Welcome back:</b> <span>{{user}}</span></h5>
					</div>
					<div class="card_meta_header"></div>
						<div class="card_body">
							
					
			
						{% include 'misc/profile_social_links.html' %}
						
						<p>{{user.profile.biography|safe}}</p>
						</div>
						<div class="card_footer">
							<a href="{% url 'memberships:edit_profile' user.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
						</div>
						
					
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-2">	
					<div class="filler"></div>		
					{% for follower in user.profile.followers.all %}
						<a href="">{{follower}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}







