{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row">
<!--###################################################################################################################### -->
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						<div id="profile_photo_box">
							{% load thumbnail %}
							<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="img-fluid" >
							
						</div>
					</div>
					<div class="card">
						({{user.profile.followers.count}}) follower 
						
						<a href="{% url 'memberships:follow_user' user.pk %}">follow<a>
						<a href="{% url 'memberships:submit_strain' user.pk %}">submit strain</a>
						<hr>
						{% include 'components/sidebar_menu.html' %}
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-6">				
					<div class="filler"></div>
					<div class="card">
						<h5 id="">Settings</h5>
						<hr>
			
						{% include 'misc/profile_social_links.html' %}



						
<form method="POST">
	{% csrf_token %}
	{{form}}
	<button>change password</button>
</form>
						

					
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-2">	
					<div class="filler"></div>		
					<div class="card">
					</div>
				</div>
			</div>
		</div>
	{% endblock %}





