{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">





<!--###################################################################################################################### -->




				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card  p-3">
					<div id="profile_photo_box">
						{% load thumbnail %}
						<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="  border_radius_sm img-fluid" >
						<br>
						
					</div>
					</div>

					<div class="card custom_card p-3">


						({{user.profile.followers.count}}) follower <br>
						<a href="{% url 'memberships:follow_user' user.pk %}">follow<a><br>
							<a href="{% url 'memberships:submit_strain' user.pk %}">submit strain</a>

							<hr>

						{% include 'widgets/sidebar.html' %}
							<ul class="profile_links">
						
							<li><a href="{% url 'memberships:edit_profile' user.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit profile</a></li>
							<li><a href="{% url 'accounts:account_settings' %}"><i class="fa-solid fa-sliders"></i> Settings</a></li>
							<li><a href=""><i class="fa-solid fa-message"></i> My reviews</a></li>
							<li><a href="{% url 'cannabis_db:saved_dispensaries' user.pk %}"><i class="fa-solid fa-message"></i> My saved dispensaries</a></li>
							<li>
								{% if user.is_authenticated %}
									<i class="fa-solid fa-bookmark"></i> <a href="{% url 'cannabis_db:saved_strains' user.pk %}">My saved strains</a>
								{% endif %}
							</li>
							<li><a href="{% url 'memberships:my_strains' user.pk %}"><i class="fa-solid fa-message"></i> My submitted strains</a></li>
					
						</ul>
					</div>
				</div>




<!--###################################################################################################################### -->



				<div class="col-md-6">
					
					<div class="filler"></div>
					<div class="card p-3">
						<h5 id="profile_greeting_headline">Submit strain</h5>
						<hr>

						<form method="POST">
							<table>
							{% csrf_token %}
							{{submit_strain_form.as_table}}
							<button>submit strain</button>
						</table>
						</form>

					</div>
				</div>


<!--###################################################################################################################### -->


				<div class="col-md-2">	
					<div class="filler"></div>		

				</div>




			</div>
		</div>
	{% endblock %}







