{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}" onsubmit="post.disabled = true; return true;">
    {% csrf_token %}
    <fieldset>
        <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}" />

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
        {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>

        <div class="row form-group {% if 'comment' in form.errors %}has-danger{% endif %}">
            <div class="col-lg-12">
                {{ form.comment }}
            </div>
        </div>






        <div class="row form-group">
            <div class=" col-lg-12">
                <div class="custom-control custom-checkbox">
                    {{ form.followup }}
                    <label for="id_followup{% if cid %}_{{ cid }}{% endif %}" class="custom-control-label">&nbsp;{{ form.followup.label }}</label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row form-group">
         <div class=" col-lg-12">
            <input type="submit" name="post" value="{% trans 'send' %}" class="btn-kok-2" />

        </div>
    </div>
</form>
