{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<div class="filler"></div>
					
				</div>
				<div class="col-md-9">
					<div class="filler"></div>
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{add_dispensary_form.as_p}}
					<button>add dispensary</button>
					</form>
				</div>
				<div class="col-md-2">	
				<div class="filler"></div>		

				</div>
			</div>
		</div>
	{% endblock %}

