{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
							{% if dispensary.dispensary_logo %}
								<img src="{{ dispensary.dispensary_logo.url }}" class="img-fluid" >
							{% endif %}
						</div>
						<div class="card_footer">
							change dispensary logo form here
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="filler"></div>
					<!-- card starts --><!-- card starts --><!-- card starts --><!-- card starts --><!-- card starts -->
					<div class="card">
						<div class="card_header">
							<h4 class="dispensary_title"> {{dispensary.title}}</h4>
						</div>
						<div class="card__meta_header">
							<div class="row">
								<div class="col-auto">
									

									<ul class="">
										<li>
											<i class="fa-solid fa-certificate"></i>
											<a href="">claim profile</a>
										</li>
										<li>
											{% if dispensary.websiteURL %}
												<i class="fa-solid fa-globe"></i> 
												<a href="{{dispensary.websiteURL}}">{{dispensary.websiteURL}}</a>
											{% endif %}
										</li>
										<li>
											{% if dispensary.phone_number %}
												<i class="fa-solid fa-phone"></i> {{dispensary.phone_number}}
											{% endif %}
										</li>
										<li>
											{% if dispensary.email_address %}
												<i class="fa-solid fa-envelope"></i> {{dispensary.email_address}}
											{% endif %}
										</li>
									</ul>
								</div>
								<div class="col-auto">
									<ul class="shopping_options_list">
										{% if dispensary.shopping_options == 'all'  %}
												<li><p><span class="badge ">All</span></p></li>
												<li><p><span class="badge  ">Delivery</span></p></li>
												<li><p><span class="badge  ">Pickup</span></p></li>
										{% elif dispensary.shopping_options == 'delivery'  %}
												<li><p><span class="badge  ">All</span></p></li>
												<li><p><span class="badge ">Delivery</span></p></li>
												<li><p><span class="badge  ">Pickup</span></p></li>
										{% elif dispensary.shopping_options == 'pickup'  %}
												<li><p><span class="badge  ">All</span></p></li>
												<li><p><span class="badge  ">Delivery</span></p></li>
												<li><p><span class="badge ">Pickup</span></p></li>
										{% endif %}
									</ul>
								</div>
								<div class="col-auto">
									{% if user.is_authenticated %}
										{% if saved %}
											<a class="rate_link" href="{% url 'cannabis_db:save_dispensary' dispensary.pk %}"><i class="fa-solid fa-bookmark"></i></a>								
										{% else %}
											<a class="rate_link" href="{% url 'cannabis_db:save_dispensary' dispensary.pk %}"><i class="fa-regular fa-bookmark"></i></a>					
										{% endif %}
									{% endif %}
									<b><a href="">({{dispensary.saves.count}})</a></b> saves
								</div>
								<div class="col-auto">
									<p class="dispensaries_list_item_description_text">
										<b>Address:</b><br>
									{% if dispensary.dispensary_address.all %}
										{% for address in dispensary.dispensary_address.all %}
											{{address.street_name_01}}
											{{address.street_name_02}}<br>
											{{address.street_city}}
											{{address.street_state}}
											{{address.street_zip_code}}
										{% endfor %}
									
									{% endif %}
									</p>
								</div>
							</div>
						</div>
						<div class="card_body">
							{% if dispensary.type_of_dispensary == 'medical' %}
								Medical <i class="fa-solid fa-check"></i>
								{% elif dispensary.type_of_dispensary == 'recreational' %}
									Recreational <i class="fa-solid fa-check"></i>
								{% elif dispensary.type_of_dispensary == 'medical_recreational' %}
								<p>Medical & Recreational <i class="fa-solid fa-check"></i>
								{% endif %}
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
							{{dispensary.tagline}}
							<br>
							{{dispensary.dispensary_description|safe}}
							
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
							{{dispensary.dispensary_products}}
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends -->	
				</div>
				<div class="col-md-2">
					<div class="filler"></div>
				<!-- card starts -->
					<div class="card">
						<div class="card_header">

						</div>
						<div class="card_body">
								{% for follower in dispensary.followers.all %}
							{{follower}}
						{% endfor %}
						
						
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
						{{dispensary.dispensary_social_follow}}
						</div>
						<div class="card_footer">
					
						</div>
					</div>
					<!-- card ends -->
				</div>
			</div>
		</div>
		<div class="filler_large"></div>

	{% endblock %}

















