{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row ">
				<div class="col-md-2">
					<div class="filler"></div>	
					<div class="card ">
						lets do!
					</div>
				</div>
				<div class="col-md-7">
					<div class="filler"></div>

					{% for dispensary in dispensaries %}
					<div class="card dispensaries_list_item_card">
						<div class="row">

							<div class="col-auto text-wrap custom_width_column_for_dispensaries_list_counter">
								<p class="text-wrap dispensaries_list_item_description_text p-3">{{forloop.counter}}</p>
							</div>
							<div class="col-auto p-2">
								{% if dispensary.dispensary_logo %}
									<img src="{{dispensary.dispensary_logo.url}}"  width="30" class="img-fluid">
								{% endif %}
							</div>
							<div class="col-md-6">
								<a class="dispensaries_list_item_title_link" href="{{dispensary.get_absolute_url}}">{{dispensary.title}}</a>
								<p class="dispensaries_list_item_description_text">{{dispensary.dispensary_description|truncatechars:100|safe}}</p>
								
							</div>
							<div class="col-md-4">



								<div class="row">
									<div class="col-lg-12 p-0">
										<p class=" type_of_dispensary_label_style">
										{% if dispensary.type_of_dispensary == 'medical' %}
										Medical <i class="fa-solid fa-check"></i>
									{% elif dispensary.type_of_dispensary == 'recreational' %}
										Recreational <i class="fa-solid fa-check"></i>
									{% elif dispensary.type_of_dispensary == 'medical_recreational' %}
									Medical & Recreational <i class="fa-solid fa-check"></i>
									{% endif %}
									
									</p>


									{% if dispensary.shopping_options == 'all'  %}
											all
									{% elif dispensary.shopping_options == 'delivery'  %}
											delivery
									{% elif dispensary.shopping_options == 'pickup'  %}
											pickup
									{% endif %}




									</div>
									<hr>
									<div class="col-lg-12 p-0">
										{% if dispensary.dispensary_address.all %}
									
									<p class="dispensaries_list_item_description_text">
										<b>Address:</b><br>
										{% for address in dispensary.dispensary_address.all %}
											{{address.street_name_01}}
											{{address.street_name_02}}<br>
											{{address.street_city}}
											{{address.street_state}}
											{{address.street_zip_code}}
										{% endfor %}
									</p>
									{% endif %}
									</div>
									<hr>
									<div class="col-lg-12 p-0">
										<p class="dispensaries_list_item_description_text">
									{% if dispensary.websiteURL %}
										<i class="fa-solid fa-globe"></i> <a href="{{dispensary.websiteURL}}">{{dispensary.websiteURL}} </a> 
									{% elif dispensary.email_address %}
									|
										<i class="fa-solid fa-envelope"></i>{{dispensary.email_address}} 
									{% elif dispensary.phone_number %}
									|
										<i class="fa-solid fa-square-phone-flip"></i> {{dispensary.phone_number}}
									{% endif %}



										
										
								</p>
									</div>
								</div>














								
							</div>

</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	{% endblock %}

