










{% include 'template_parts/header.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">







				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card  p-3">
{% if dispensary.dispensary_logo %}
						<img src="{{ dispensary.dispensary_logo.url }}" class="img-fluid" width="200">
						{% endif %}
					</div>

					<div class="card custom_card p-3">


					</div>
				</div>








				<div class="col-md-6">
					
					<div class="filler"></div>
					<div class="card p-3">
					<h4 class="dispensary_title"> {{dispensary.title}}</h4>
					<a href="">claim profile</a>
		
					<p class=" type_of_dispensary_label_style">
										{% if dispensary.type_of_dispensary == 'medical' %}
										Medical <i class="fa-solid fa-check"></i>
									{% elif dispensary.type_of_dispensary == 'recreational' %}
										Recreational <i class="fa-solid fa-check"></i>
									{% elif dispensary.type_of_dispensary == 'medical_recreational' %}
									<p>Medical & Recreational <i class="fa-solid fa-check"></i>
									{% endif %}
									
									</p>


							<hr>
							<ul class="shopping_options_list">
							{% if dispensary.shopping_options == 'all'  %}
									<li><p><span class="badge shopping_options_badge">All</span></p></li>
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">Delivery</span></p></li>
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">Pickup</span></p></li>
							{% elif dispensary.shopping_options == 'delivery'  %}
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">All</span></p></li>
									<li><p><span class="badge shopping_options_badge">Delivery</span></p></li>
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">Pickup</span></p></li>
							{% elif dispensary.shopping_options == 'pickup'  %}
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">All</span></p></li>
									<li><p><span class="badge shopping_options_badge shopping_options_badge_faded">Delivery</span></p></li>
									<li><p><span class="badge shopping_options_badge">Pickup</span></p></li>
							{% endif %}
							</ul>
							<hr>



							<p>
							<i class="fa-solid fa-globe"></i> 
							<a href="{{dispensary.websiteURL}}">{{dispensary.websiteURL}}</a> | 
							<i class="fa-solid fa-phone"></i> {{dispensary.phone_number}} | 
							<i class="fa-solid fa-envelope"></i> {{dispensary.email_address}} | 


							{% if dispensary.dispensary_address.all %}
									
									<p class="dispensaries_list_item_description_text">
										<b>Address:</b><br>
										{% for address in dispensary.dispensary_address.all %}
											{{address.street_name_01}}
											{{address.street_name_02}}<br>
											{{address.street_city}}
											{{address.street_state}}
											{{address.street_zip_code}}
										{% endfor %}
									</p>
									{% endif %}
						</p>
						<hr>
						<br>
					{{dispensary.tagline}}
					<br>
					{{dispensary.dispensary_description|safe}}
					<br>
					{{dispensary.dispensary_products}}
				</div>
				</div>
				<div class="col-md-3">	
				<div class="filler"></div>	
				<div class="card p-3">	
				{{dispensary.dispensary_followers}}<br>
				{{dispensary.dispensary_social_follow}}

					</div>
				</div>





				<div class="col-md-2">	
				<div class="filler"></div>		

				</div>
			</div>
		</div>
	{% endblock %}

















