{% include 'template_parts/header.html' %}
	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<div class="filler"></div>
					
				</div>
				<div class="col-md-9">
					<div class="filler"></div>
					<a href="{% url 'cannabis_db:add_dispensary' %}">add dispensary</a>

					<hr>
					{% for dispensary in dispensaries %}
							<a href="{{dispensary.get_absolute_url}}">{{dispensary.title}}</a>
							{{dispensary.tagline}}
							{{dispensary.websiteURL}}
							{{dispensary.phone_number}}
							{{dispensary.email_address}}
							{{dispensary.dispensary_logo}}
							{{dispensary.dispensary_cover}}
							{{dispensary.dispensary_description}}
							{{dispensary.dispensary_social_follow}}
							{{dispensary.dispensary_products}}
							{{dispensary.dispensary_followers}}

							<a href="{% url 'cannabis_db:remove_dispensary' dispensary.pk  %}">remove dispensary from directory</a>
					{% endfor %}
				</div>
				<div class="col-md-2">	
				<div class="filler"></div>		

				</div>
			</div>
		</div>
	{% endblock %}

