





    <form method="get">






<div class="filter_section">
    <div id="filter_section_header">
  <b>{{ filter.form.brand.label}}</b>
   </div>
   <div id="filter_section_body">
        {{ filter.form.brand}}
    </div>
    
</div>
        <b>{{ filter.form.strain_type.label}}<hr></b>
       {{ filter.form.strain_type}}

       <b>{{ filter.form.dispensaries.label}}<hr></b>
       {{ filter.form.dispensaries}}</td></tr>

    <b>{{ filter.form.aromas.label}}<hr></b>
   {{ filter.form.aromas}}

     <b>{{ filter.form.feelings.label}}<hr></b>
      {{ filter.form.feelings}}

    <b>{{ filter.form.terpenes_reports.label}}<hr></b>
 {{ filter.form.terpenes_reports}}

   <b>May help relieve<hr></b>
 {{ filter.form.may_relieve}}


    <b>{{ filter.form.flavors.label}}<hr></b>
   {{ filter.form.flavors}}


       <b>{{ filter.form.potency.label}}<hr></b>
   {{ filter.form.potency}}

 <input class="button sm green" type="submit" />
    </form>















<style type="text/css">
    select {
    word-wrap: normal;
    width: 100%;
    padding: 5px 0;
    min-height: 120px;
    border: none;
    margin-bottom: 40px;
      overflow-y: scroll;
  scrollbar-color: #ddd #EEEEEE;
  scrollbar-width: thin;

}
select:focus{
    outline: none;
}
select:active{
    outline: none;

}
option {
    padding: 2px 0;
    color: #666;

}
option:checked, option:active, option:hover {
    padding: 2px 0;
    color: white;
    font-weight: 700;
    background: #488f8f repeat url("data:image/gif;base64,R0lGO...");
}

</style>




<br>

































































<!-- title filter section starts -->





