



{% load widget_tweaks %}

    <form method="get">



fdfd


<div class="filter_section">
    <div id="filter_section_header">
  <h6 class="filter_heading">{{ filter.form.brand.label}}s</h6>
   </div>
   <div id="filter_section_body" style="height: 200px; overflow-y: scroll; border: 1px solid green; border-radius: 10px;">


{% for checkbox in filter.form.brand %}
 <div class="form-check  custom-checkbox">
    {{checkbox.tag}}
    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
    <p style="font-size:12px;">{{checkbox.choice_label}}</p>
</label>
</div>
{% endfor %}




    </div>
    <br>

        <h6 class="filter_heading">{{ filter.form.strain_type.label}}</h6>
       {{ filter.form.strain_type|add_class:"form-control"}}
 <br><br>
       <h6 class="filter_heading">{{ filter.form.dispensaries.label}}</h6>
       {{ filter.form.dispensaries|add_class:"form-control"}}</td></tr>
 <br><br>
    <h6 class="filter_heading">{{ filter.form.aromas.label}}</h6>
   {{ filter.form.aromas|add_class:"form-control"}}
 <br><br>
     <h6 class="filter_heading">{{ filter.form.feelings.label}}</h6>
      {{ filter.form.feelings|add_class:"form-control"}}
 <br><br>
    <h6 class="filter_heading">{{ filter.form.terpenes_reports.label}}</h6>
 {{ filter.form.terpenes_reports|add_class:"form-control"}}
 <br><br>
   <h6  class="filter_heading" >May help relieve</h6>
 {{ filter.form.may_relieve|add_class:"form-control"}}
 <br><br>

    <h6 class="filter_heading">{{ filter.form.flavors.label}}</h6>
   {{ filter.form.flavors|add_class:"form-control"}}
 <br><br>

       <h6 class="filter_heading">{{ filter.form.potency.label}}</h6>
   {{ filter.form.potency|add_class:"form-control"}}
 <br><br>


 <input class="button sm green" type="submit" />
    </form>


</div>















<br>

































































<!-- title filter section starts -->





