<form action="" method="POST" id="" class="float-end" style="width: 100%;">
	<select class="form-control" id="form-control" style="width: 100%;"> 
		<option>A to Z</option>
		<option>Z to A</option>
		<option>Featured</option>
		<option>Sort by top rated</option>
		<option>Sort by most rated</option>
		<option>Price: low to high</option>
		<option>Price: high to low</option>
		<option>Brand: A to Z</option>
		<option>Brand: Z to A</option>
		<option>Newest</option>
		<option>Oldest</option>
	</select>
</form>


<script type="text/javascript">
	
</script>