<form action="" method="GET" class="float-end" style="width: 100%;">
    <select name="sort" class="form-control" id="form-control" style="width: 100%;" onchange="this.form.submit()">
        <option value="">Sort By</option>
        <option value="az">A to Z</option>
        <option value="za">Z to A</option>
        <option value="featured">Featured</option>
        <option value="top-rated">Sort by top rated</option>
        <option value="most-rated">Sort by most rated</option>
        <option value="price-low">Price: low to high</option>
        <option value="price-high">Price: high to low</option>
        <option value="brand-az">Brand: A to Z</option>
        <option value="brand-za">Brand: Z to A</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
    </select>
</form>
