{% extends 'cannabis_db/base.html' %}
	{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-2">
		2
		</div>
		<div class="col-md-8">
			<div class="filler"></div>
			<h4>change password</h4>
			<form method="POST">
				{% csrf_token %}
{{change_password_form}}
<button>change password</button>
</form>
<hr>


<h4>change username</h4>
<form method="POST">
	{% csrf_token %}
{{change_username_form}}
<button>change username</button>
</form>
		</div>
		<div class="col-md-2">
		
		</div>
	</div>
</div>

	{% endblock %}