{% extends 'ds_mp_app/base.html' %}
	{% block content %}
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-2">
			
			</div>

			<div class="col-md-8">
			
			<h1>Privacy settings</h1>
			<hr>
			<ul class="">

				<li><a href="{% url 'accounts:account_settings' %}">Account settings</a></li>
				<li><a href="{% url 'accounts:privacy_settings' %}">Privacy settings</a></li>
				<li><a href="{% url 'account_email' %}">Email settings</a></li>
				<li><a href="{% url 'account_reset_password' %}">Password reset</a></li>
				
			</ul>

			</div>

			<div class="col-2">
			2
			</div>
		</div>
	</div>	


	{% endblock %}