{% load thumbnail %}

<div class="container">
	<div class="row ">
		<div class="col-md-2">
			{% include 'filters/filters.html' %}
		</div>
		<div class="col-md-10">
			<div class="filler"></div>
			{% include 'filters/sorting.html' %}
			<div class="row g-2">
				{% for strain in filter.qs %}			
					<div class="col-md-2">
						<div class="card">
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md">
							</a>
							<a href="{{strain.get_absolute_url}}">{{strain.title}}</a>
						</div>
					</div>		
							
				{% endfor %}
			</div>
		</div>
	</div>
</div>