{% load thumbnail %}
{% load static %}
<div class="container">
	<div class="row g-3">
			<div class="col-md-7 border_right">
				<div class="filler"></div>
				<!-- 
				<div class="card">
					<img src="{{strain.featured_image.url}}" class="img-fluid">
				</div>
				-->
				<div class="card p-3">
					<div class="fotorama"
						data-nav="thumbs" 
						data-allowfullscreen="true" 
						data-width="100%"
						data-height="100%"
						data-ratio="1000/1000"
						data-keyboard="true"
						data-arrows="true"
						data-click="true"
						data-swipe="false"
						data-minheight="700"
						data-maxheight="70%"
						data-autoplay="true">
						{% for strain_gallery_image in strain.image_gallery.images.images.all %}
							<a href="{{strain_gallery_image.title.url}}"><img src="{{strain_gallery_image.title.url}}"></a>
						{% endfor %}
					</div>
					<div class="filler"></div>
					<hr>
					<div class="filler"></div>
				</div>
				<div class="card">
					{% include 'commenting_system/commenting_system.html' %}
				</div>
			</div>
			<div class="col-md-5">
				<div class="filler"></div>
				<div class="card p-3">
					<h1 id="page_heading">{{strain.title|title}}</h1>
					<hr>
					<h4 id="headline_heading">{{strain.headline}}</h4>
					<hr>
						
									<p><b>Submitted on: </b> {{strain.date_created}}
									<b>Last edited on: </b> {{strain.date_updated}}</p>
						
				</div>
				<div class="card p-3">
					{% if strain.strain_type_label == 'sativa' %}
						<mark id="sativa_mark">Sativa</mark>
					{% elif strain.strain_type_label == 'indica' %}
						<mark id="indica_mark">Indica</mark>
					{% elif strain.strain_type_label == 'hybrid' %}
						<mark id="hybrid_mark">Hybrid</mark>
					{% endif %}
				</div>
				<div class="card p-3">

					<div class="row">
						{% for user in strain.user.all %}

						<div class="col-auto">
							 Reviewed by: &nbsp;<a href="{% url 'memberships:public_profile' user.pk %}" style="text-decoration: none;">
							 	<img src="{% thumbnail user.profile.profile_photo 30x30 crop %}" class="img-fluid radius_sm" width="20"></a>
						</div>


						<div class="col-md-7">
							<div class="row">
								<div class="col-lg-12 p-0">
									<a href="{% url 'memberships:public_profile' user.pk %}">{{user.username}}</a> | 
																		{% if request.user in user.profile.followers.all %}
										<a href="{% url 'memberships:follow_user' user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#018223" d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4l-8 4z"/></svg>
											{{user.profile.user.first_name}}
										</a> | 

									{% else %}

										<a href="{% url 'memberships:follow_user' user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#018223" d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4l-8 4zm2 0v15l6-3l6 3V2z"/></svg>
											{{user.profile.user.first_name}}
										</a> | 

									{%  endif %}	



 {{user.profile.followers.count}}  follower{{ user.profile.followers.count|pluralize }}
  {{ user.profile.followers.count|pluralize:","}}  



								</div>
								<div class="col-lg-12 p-0">
									<p class="xs">{% if user.profile.biography %} {{user.profile|safe|truncatechars:100}}	{% else %} No bio yet. {% endif %}</p>
								</div>
						
							</div>
						</div>

						{% endfor %}
					</div>
					<br>
					<hr>
				</div>
				<div class="card p-3">
					<h5>Strain description</h5>
					<hr>
					<br>
					{% if strain.description %}<p>{{strain.description|safe}}</p>{% else %}	<p>Not available.</p>{% endif %}	
					<br>
					<hr>			
				</div>

				<style type="text/css">
					#sativa_mark{
						background: #018223;
						color: white;
						padding: 2px 10px;
					}
					#indica_mark{
						background: #00a62c;
						color: white;
						padding: 2px 10px;
					}
					#hybrid_mark{
						background: #015918;
						color: white;
						padding: 2px 10px;
					}
				</style>
				<div class="card p-3">
					<div class="row">
						<div class="col-md-3">
							{% include 'components/ratings/star_ratings/ratings_template.html' %}
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
					</div>
				</div>
				<div class="card p-3">
				{% for strain_specification in strain.strain_specifications.specifications.all %}
					<p><span style="text-transform: uppercase;">{{strain_specification.title}}</span>
					{{strain_specification.specification_value}}
					{{strain_specification.get_specification_value_label_display}}</p>
				{% endfor %}	
				</div>
						
				<div class="card p-3">
					<h5>Feelings</h5>
					{% if strain.feelings %}
						{% for strain_feeling in strain.feelings.all %}						
								{% if strain_feeling.type_of_feelings == 'generic' %}
								
									<img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
									{{strain_feeling.description|safe}}								
								
								{% elif strain_feeling.type_of_feelings == 'positive' %}
							
									<td><img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
									{{strain_feeling.description|safe}}						
								
								{% elif strain_feeling.type_of_feelings == 'negative' %}
								
									<img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
								
								{% endif %}
						{% endfor %}							
							{% else %}				
						<p>Not available.</p>
					{% endif %}		
				</div>
				<div class="card p-3">
					<h5>Effects</h5>
					{% if strain.effects_reports %}
					{% for strain_effect in strain.effects_reports.effect_report_list_set.effect_report_list.all %}
						{{strain_effect.get_type_of_effects_display}}
						{{strain_effect.title}}
						{{strain_effect.description|safe}}
						{{strain_effect.effect_icon}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}
				</div>
				<div class="card p-3">
					<h5>Flavors</h5>
					{% if strain.flavors %}
					{% for strain_flavor in strain.flavors.all %}
						{{strain_flavor.title}}
						{{strain_flavor.flavor_icon}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}				
				</div>
				<div class="card p-3">
					<h5>Aromas</h5>
					{% if strain.aromas_reports %}
					{% for strain_aroma in strain.aromas_reports.aromas_list_set.aromas_list.all %}
						{{strain_aroma.title}}
						{{strain_aroma.aromas_icon}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}					
				</div>
				<div class="card p-3">
					<h5>May help relieve</h5>
					{% if strain.may_relieve %}
					{% for may_relieve in strain.may_relieve.all %}
						{{may_relieve.title}}
						{{may_relieve.description|safe}}
						{{may_relieve.helps_with_icon}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}					
				</div>
				<div class="card p-3">
					<h5>Terpenes profile</h5>
					{% if strain.terpenes_reports %}
					{% for terpene in strain.terpenes_reports.all %}
						{{terpene.title}}
					{% endfor %}
					{% else %}				
						<p>Not available.</p>
					{% endif %}
				</div>
				<div class="card p-3">
					{% for strain_lineage in strain.strain_lineage_details_list.strain_lineage_details_list_items.strain_lineage_details_list_items.all %}
						{{strain_lineage.title}}
						{{strain_lineage.strain_lineage_01}}
						{{strain_lineage.strain_lineage_value_01}}
						{{strain_lineage.strain_lineage_02}}
						{{strain_lineage.strain_lineage_value_02}}
					{% endfor %}					
				</div>

				<div class="card p-3">
					<h5>Poster's review</h5>
					{% if strain.author_review %}
					<p>{{strain.author_review|safe}}</p>
					{% else %}				
						<p>Not available.</p>
					{% endif %}					
				</div>
				<div class="card p-3">
					<h5>Details</h5>
					{% if strain.strain_details_list %}
					{% for strain_details_list_item in strain.strain_details_list.strain_details_list_items.strain_details_list_items.all %}
						{{strain_details_list_item.title}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}				
				</div>
				<div class="card p-3">
					<h5>Brand</h5>
					{% if strain.brand %}
					{% for strain in strain.brand.all %}
						{{strain}}
					{% endfor %}
					{% else %}				
						<p>Not available.</p>
					{% endif %}
				</div>
				<div class="card p-3">
					<h5>Where to buy</h5>
					{% if strain.dispensaries %}
					{% for strain_dispensary_sold_in in dispensaries.all %}
					
						<a href="{{strain_dispensary_sold_in.get_absolute_url}}" class="">{{strain_dispensary_sold_in.title}}</a>
				
					{% endfor %}
					{% else %}				
						<p>Not available.</p>
					{% endif %}
					<!-- Button trigger modal -->
					<br>
<a class="" data-toggle="modal" data-target="#exampleModalLong">
  view all
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Where to buy {{strain.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        {% for dispensary in dispensaries_full_list.all %}
        <div class="dispensary_view_all_list_li">
        		<b>{{forloop.counter}}. </b>
        		
        		<a href="{{dispensary.get_absolute_url}}">{{dispensary.title|title}}</a> |  <a href="{{dispensary.get_absolute_url}}">{{dispensary.websiteURL}}</a>
        	</div>
        		
        {% endfor %}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
				</div>
				<div class="card p-3">

					{% if request.user in strain.users_smoked.all %}




							<p>You and {{strain.users_smoked.count}} other stoner{{ strain.users_smoked.count|pluralize }}
  {{ strain.users_smoked|pluralize:"s,ve"}} smoked <b>{{strain.title}}</b>.





					{% else %}



					<a href="{% url 'cannabis_db:consumed' strain.pk %}">I smoked this {{strain.title}}</a> </p>


<p>{{strain.users_smoked.count}} stoner{{ strain.users_smoked.count|pluralize }}
  {{ strain.users_smoked|pluralize:"s,ve"}} smoked <b>{{strain.title}}</b>.


						{% endif %}


				</div>
			</div>	    
	</div>
</div>