{% load thumbnail %}

{% load static %}
<div class="container">
	<div class="row g-3">
			<div class="col-md-7 border_right">
		
				<!-- 
				<div class="card">
					<img src="{{strain.featured_image.url}}" class="img-fluid">
				</div>
				-->
				<div class="card p-3">
					<div class="fotorama"
						data-nav="thumbs" 
						data-allowfullscreen="true" 
						data-width="100%"
						data-height="100%"
						data-ratio="1000/1000"
						data-keyboard="true"
						data-arrows="true"
						data-click="true"
						data-swipe="false"
						data-minheight="700"
						data-maxheight="70%"
						data-autoplay="true">
						{% for strain_gallery_image in strain.image_gallery.images.images.all %}
							<a href="{{strain_gallery_image.title.url}}"><img src="{{strain_gallery_image.title.url}}"></a>
						{% endfor %}
					</div>
		
				</div>
				<div class="card">
					{% include 'commenting_system/commenting_system.html' %}
				</div>
			</div>
			<div class="col-md-5">
	
				<div class="card p-3">
					<h1 id="page_heading">{{strain.title|title}}</h1>
					<hr>
					<h4 id="tagline_heading">{{strain.lineage}}</h4>
					<hr>
					<h6 id="headline_heading">{{strain.headline}}</h6>
					<hr>
						
									<p class="xs"><b>Submitted on: </b> {{strain.date_created}}
									<b>Last edited on: </b> {{strain.date_updated}}</p>
						
				</div>
				<div class="card p-3">
					{% if strain.strain_type_label == 'sativa' %}
						<mark id="sativa_mark">Sativa</mark>
					{% elif strain.strain_type_label == 'indica' %}
						<mark id="indica_mark">Indica</mark>
					{% elif strain.strain_type_label == 'hybrid' %}
						<mark id="hybrid_mark">Hybrid</mark>
					{% endif %}
				</div>

	<div class="card p-3">

					<div class="row">
						<div class="col-lg-12">
{% if strain.thc %}
	<p class="zabyzaby"><b class="zoobyzooby">THC</b><span class="zabyzaby">{{strain.thc}}%</span> / 
{% endif %}

{% if strain.cbd %}
	<b class="zoobyzooby">CBD</b><span class="zabyzaby">{{strain.cbd}}%</span> / 
{% endif %}

{% if strain.tac %}
	<b class="zoobyzooby">TAC</b><span class="zabyzaby">{{strain.tac}}%</span> / 
{% endif %}
{% if strain.cnbnd %}
	<b class="zoobyzooby">Total cannabinoids </b><span class="zabyzaby">{{strain.cnbnd}}%</span>
{% endif %}
</p>
<hr>
</div></div></div>

<style type="text/css">
	.zabyzaby{
		font-weight: 300;
		background: var(--bkg-color);
	}
	.zoobyzooby{
		font-weight: 800;
		background: var(--bkg-color);
	}
</style>
				<div class="card p-3">

					<div class="row">
						{% for user in strain.user.all %}

						<div class="col-auto">
							 <p>Reviewed by: &nbsp;<a href="{% url 'memberships:public_profile' user.pk %}" style="text-decoration: none;">
							 	<img src="{% thumbnail user.profile.profile_photo 30x30 crop %}" class="img-fluid radius_sm" width="20"></a></p>
						</div>


						<div class="col-md-7">
							<div class="row">
								<div class="col-lg-12 p-0">
									  <p>
																		{% if request.user in user.profile.followers.all %}
																		Following
										<a href="{% url 'memberships:follow_user' user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#018223" d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4l-8 4z"/></svg>
											<b>{{user.profile.user.username}}</b>
										</a> | 

									{% else %}
 
										<a href="{% url 'memberships:follow_user' user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#018223" d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4l-8 4zm2 0v15l6-3l6 3V2z"/></svg>
											{{user.profile.user.username}}
										</a> | 

									{%  endif %}	



 {{user.profile.followers.count}}  follower{{ user.profile.followers.count|pluralize }}
  {{ user.profile.followers.count|pluralize:","}}  

</p>

								</div>
								<div class="col-lg-12 p-0">
									<p class="xs">{% if user.profile.biography %} {{user.profile|safe|truncatechars:100}}	{% else %} No bio yet. {% endif %}</p>
								</div>
						
							</div>
						</div>

						{% endfor %}
					</div>
					<br>
					<hr>
				</div>


				<style type="text/css">
					#sativa_mark{
						background: #018223;
						color: white;
						padding: 2px 10px;
					}
					#indica_mark{
						background: #00a62c;
						color: white;
						padding: 2px 10px;
					}
					#hybrid_mark{
						background: #015918;
						color: white;
						padding: 2px 10px;
					}
				</style>






















				<div class="card p-3">
					<div class="row">
						<div class="col-md-3">
							{% include 'components/ratings/star_ratings/ratings_template.html' %}
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
					</div>
				</div>














<!------------------------------------------------------------------------------------------------------>


























<style>
.accordion {
background: var(--bkg-color);
  color: #444;
  cursor: pointer;
  padding:5px 0px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right:none;
  border-bottom: 1px dotted var(--page-border-color);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
background: var(--bkg-color);
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding-top: 15px;
background: var(--bkg-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
<div class="p-3">
<button class="accordion" id="kajak">Description</button>
<div class="panel">
					{% if strain.description %}<p>{{strain.description|safe}}</p>{% else %}	<p>Not available.</p>{% endif %}	
</div>

<button class="accordion" id="kajak">Potency</button>
<div class="panel">
			<h5>Strain potency</h5>
			{{strain.get_potency_display}}
</div>

<button class="accordion">Flavors</button>
<div class="panel">
					<div class="row">


					{% if strain.flavors %}
					{% for strain_flavor in strain.flavors.all %}
					<div class="col-md-3">
						<div class="card">
							{{strain_flavor.title}}
							<img src="{% thumbnail strain_flavor.flavor_icon 200x200 crop %}" class="img-fluid" height="30" width="30">
						</div>
					</div>
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}			
					</div>	
</div>



<!---------------------------------------------->
<button class="accordion">Feelings</button>
	<div class="panel">

					{% if strain.feelings %}



						{% for strain_feeling in strain.feelings.all %}				
						<div class="col-md-3">
								{% if strain_feeling.type_of_feelings == 'generic' %}		
									<img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
									<hr>
									{% if strain_feeling.description %}{{strain_feeling.description|safe}}{% else %} <p>n/a</p>{% endif %}											
								{% elif strain_feeling.type_of_feelings == 'positive' %}
									<img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
									{% if strain_feeling.description %}{{strain_feeling.description|safe}}{% else %} <p>n/a</p>{% endif %}										
								{% elif strain_feeling.type_of_feelings == 'negative' %}	
									<img src="{% thumbnail strain_feeling.feeling_icon 16x16 crop %}">
									<b>{{strain_feeling.title}}</b>
								{% endif %}
							</div>
						{% endfor %}						


							{% else %}				


						<p>Not available.</p>




					{% endif %}		

	</div>
	<!---------------------------------------------->
<button class="accordion">Effects</button>
	<div class="panel">
					<div class="row">
					<h5>Effects</h5>
						<br>
					{% if strain.effects_reports %}
					{% for strain_effect in strain.effects_reports.effect_report_list_set.effect_report_list.all %}
						{{strain_effect.get_type_of_effects_display}}
						{{strain_effect.title}}
						{{strain_effect.description|safe}}
						{{strain_effect.effect_icon}}
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}
				</div>


	</div>
	<!---------------------------------------------->
<button class="accordion">Aromas</button>
	<div class="panel">

						<div class="row">
					{% if strain.aromas %}
					{% for strain_aroma in strain.aromas.all %}
					<div class="col-md-3">
						{{strain_aroma.title}}
						{{strain_aroma.aromas_icon}}
					</div>
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}			
					</div>	

	</div>
	<!---------------------------------------------->
<button class="accordion">May help relieve</button>
	<div class="panel">

		<div class="row">
	
					
					{% if strain.may_relieve %}
					{% for may_relieve in strain.may_relieve.all %}
					<div class="col-md-3">
						{{may_relieve.title}}
						{{may_relieve.description|safe}}
						<img src="{% thumbnail may_relieve.helps_with_icon 30x30 crop %}">
					</div>
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}	
					</div>	

	</div>
	<!---------------------------------------------->
<button class="accordion">Terpenes profile</button>
	<div class="panel">

					{% if strain.terpenes_reports %}



						
						<b>{{strain.terpenes_reports.tds_UNIQUE_ID}}</b><br>
							<b>{{strain.terpenes_reports.title}}</b>
						{{strain.description|truncatechars:50|safe}}<br>
						<hr>
						{% for t_r in strain.terpenes_reports.terpenes_reports.all %}


								{% for t_r_i in t_r.terpene_icon.all %}
										{{t_r_i.terpene_icon.url}}
								{% endfor %}



								{% for t_r_v in t_r.terpene_values.all %}
										{{t_r_v.terpene_value}}
										{{t_r_v.terpene_value_lbl}}
								{% endfor %}


						{% endfor %}
						<hr>




					{% else %}				
						<p>Not available.</p>
					{% endif %}
					<br>
					<a href="" class="" data-toggle="modal" data-target="#exampleModalCenter">
  View all Terpenes Profiles
</a>
	</div>
	<!---------------------------------------------->
<button class="accordion">Lineage profile</button>
	<div class="panel">

					{% for strain_lineage in strain.strain_lineage_details_list.strain_lineage_details_list_items.strain_lineage_details_list_items.all %}
						{{strain_lineage.title}}
						{{strain_lineage.strain_lineage_01}}
						{{strain_lineage.strain_lineage_value_01}}
						{{strain_lineage.strain_lineage_02}}
						{{strain_lineage.strain_lineage_value_02}}
					{% endfor %}		

	</div>
	<!---------------------------------------------->
<button class="accordion">Poster's review</button>
	<div class="panel">
					{% if strain.author_review %}
					<p>{{strain.author_review|safe}}</p>
					{% else %}				
						<p>Not available.</p>
					{% endif %}		


	</div>
	<!---------------------------------------------->
<button class="accordion">Details</button>
	<div class="panel">

					{% if strain.strain_details_list %}
					{% for strain_details_list_item in strain.strain_details_list.strain_details_list_items.strain_details_list_items.all %}
					<div class="col-md-3">
						{{strain_details_list_item.title}}
					</div>
					{% endfor %}	
					{% else %}				
						<p>Not available.</p>
					{% endif %}	

	</div>
	<!---------------------------------------------->
<button class="accordion">Brands</button>
	<div class="panel">

					{% if strain.brand %}
					{% for brand in strain.brand.all %}
						<div class="col-md-3">
							<div class="card">
							<a href="{{brand.get_absolute_url}}">{{brand}}</a>
						</div>
						</div>
					{% endfor %}
					{% else %}				
						<p>Not available.</p>
					{% endif %}

	</div>
	<!---------------------------------------------->
<button class="accordion">Where to buy</button>
	<div class="panel">

				<div class="card p-3">
					<hr>
		<br>
		<div class="row">
				

					<!-- Button trigger modal -->

				

			
</div>
<br><br>
<a class="" data-toggle="modal" data-target="#exampleModalLong">
  view all
</a>
<br>
<hr>
		<br>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Where to buy {{strain.title}} (<span style="font-weight: 300;">dispensaries</span>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        {% for dispensary in dispensaries_full_list.all %}
        <div class="dispensary_view_all_list_li">
        		<b>{{forloop.counter}}. </b>
        		
        		<a href="{{dispensary.get_absolute_url}}">{{dispensary.title|title}}</a> |  <a href="{{dispensary.get_absolute_url}}">{{dispensary.websiteURL}}</a>
        	</div>
        		
        {% endfor %}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>










<br>
					<h5>Buy <b>{{strain.title}}</b> seeds</h5>
					<br>

					{% if dispensary.type_of_dispensary == 'seed_bank' %}
					{% if strain.dispensaries %}
					{% for strain_dispensary_sold_in in dispensaries.all %}
					<div class="col-auto">
						<img src="{% thumbnail strain_dispensary_sold_in.dispensary_logo 20x20  crop %}" class="img-fluid">
					</div>
					<div class="col-md-11">
						<a href="{{strain_dispensary_sold_in.get_absolute_url}}" class="">{{strain_dispensary_sold_in.title}}</a>
					</div>
				
					{% endfor %}
					{% else %}				
						<p>Not available.</p>
					{% endif %}

					{% endif %}







<br><br>
<a class="" data-toggle="modal" data-target="#exampleModalLong2">
  view all
</a>
<br>
<hr>
		<br>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Buy <b>{{strain.title}}</b> seeds (<span style="font-weight: 300;">seed banks</span>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        {% for dispensary in dispensaries_full_list.all %}
        <div class="dispensary_view_all_list_li">
        		<b>{{forloop.counter}}. </b>
        		
        		<a href="{{dispensary.get_absolute_url}}">{{dispensary.title|title}}</a> |  <a href="{{dispensary.get_absolute_url}}">{{dispensary.websiteURL}}</a>
        	</div>
        		
        {% endfor %}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>










				</div>

	</div>


</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>



























































































































































<!------------------------------------------------------------------------------------------------------>

























						






















				<div class="filler"></div>
<div class="filler"></div><div class="filler"></div>
<div class="filler"></div><div class="filler"></div>
<div class="filler"></div><div class="filler"></div>
<div class="filler"></div>
			</div>	    
	</div>
</div>





 <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };
    $( "#accordion" ).accordion({
    	heightStyle: "content",
      icons: icons
    });
    $( "#toggle" ).button().on( "click", function() {
      if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
        $( "#accordion" ).accordion( "option", "icons", null );
      } else {
        $( "#accordion" ).accordion( "option", "icons", icons );
      }
    });
  } );
  </script>

  <style type="text/css">

  </style>