{% load thumbnail %}

<div class="container ">
	<div class="row ">
		<div class="col-md-2">
			{% include 'filters/filters.html' %}
		</div>
		<div class="col-md-10">
			<div class="filler"></div>
			{% include 'filters/sorting.html' %}
			<div class="row g-2">
				{% for strain in strains %}			
					<div class="col-md-2 ">
						<div class="card">
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md lazy">
							</a>
							<a href="{{strain.get_absolute_url}}">{{strain.title}}</a>{% include 'components/buttons/bookmarking.html' %}

							
						</div>
					</div>		
							
				{% endfor %}
			</div>
			{% for contact in page_obj %}
    {# Each "strain" is a Strain model object. #}
    {{ contact.full_name|upper }}<br>
    
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if strains.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ strains.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ strains.number }} of {{ strains.paginator.num_pages }}.
        </span>

        {% if strains.has_next %}
            <a href="?page={{ strains.next_page_number }}">next</a>
            <a href="?page={{ strains.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
		</div>
	</div>
</div>
