


{% extends 'cannabis_db/base.html' %}
	{% block content %}
		








		<div class="container">
			<div class="row g-2">
<!--###################################################################################################################### -->
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body p-0">
							{% load thumbnail %}
							<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="img-fluid" >
							
						</div>
						<div class="card_footer"></div>
						
					</div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body">
							
						
							{% include 'components/sidebar_menu.html' %}
						</div>
						<div class="card_footer"></div>
						
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-8">				
					<div class="filler"></div>
					<div class="card">
					<div class="card_header">
				<h5>My saved strains</h5>
					</div>
					<div class="card_meta_header">
							
					</div>
						<div class="card_body">
							
				
						
			
					
						

							
							{% if saved_strains %}


<div class="row">
							{% for strain in saved_strains %}


								<div class="col-md-3">

									<div class="thumbnail_card">

										{% load thumbnail %}
										<a href="{{strain.get_absolute_url}}">
											<img src="{% thumbnail strain.featured_image 300x300 crop %}" class="img-fluid"></a>
										




										<span class="thumbnail_card_caption">

											<div class="row">
												<div class="col-lg-12">
													<a href="{{strain.get_absolute_url}}">{{strain.title}}</a>
													<hr>
												</div>
												<div class="col-lg-12">
														<p>{% for strain_spec in strain.strain_specifications.specifications_set.specifications.all %}
										<b>{{strain_spec.get_specification_name_display}}</b> {{strain_spec.specification_value}}%
								{% endfor %}</p>
												</div>
												

											</div>
											<div class="row">
												<div class="col-md-6"></div>
												<div class="col-md-6"></div>

											</div>
											<div class="row">
												<div class="col-md-6"></div>
												<div class="col-md-6"></div>

											</div>
										</span>

									</div>


									

								</div>

							{% endfor %}









</div>


							{% else %}
									<p>You have 0 saved strains.</p>
								{% endif %}

					
						</div>
						<div class="card_footer">

						</div>
						
					
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-2">	
					<div class="filler"></div>		
					{% for follower in user.profile.followers.all %}
						<a href="">{{follower}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="filler_large"></div>








	{% endblock %}








