{% extends 'cannabis_db/base.html' %}
	{% block content %}
	{% include 'components/popup_modal.html' %}
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="filler"></div>
				{% include 'template_parts/sidebar.html' %}
				</div>
				<div class="col-md-10">
					<div class="filler"></div>
					{% include 'components/filters.html' %}





						<div class="row">






							{% for strain in strains %}


								<div class="col-md-3">
<div class="savey">
{% if user.is_authenticated %}
								{% if saved %}
								<a class="rate_link" href="{% url 'cannabis_db:save_strain' strain.pk %}"><i class="fa-solid fa-bookmark"></i></a>
																
								{% else %}
									<a class="rate_link" href="{% url 'cannabis_db:save_strain' strain.pk %}"><i class="fa-regular fa-bookmark"></i></a>					
								{% endif %}
							{% endif %}
							<b><a href="">({{strain.saves.count}})</a></b> saves
</div>
									<div class="thumbnail_card">

										{% load thumbnail %}
										<a href="{{strain.get_absolute_url}}">
											<img src="{% thumbnail strain.featured_image 300x300 crop %}" class="img-fluid"></a>
										




										<span class="thumbnail_card_caption">

											<div class="row">
												<div class="col-lg-12">
													<a href="{{strain.get_absolute_url}}" id="strain_thumbnail_title">{{strain.title}}</a>
													
  

													<hr>
												</div>
												<div class="col-lg-12">
														<p id="strain_thumbnail_title_p">{% for strain_spec in strain.strain_specifications.specifications_set.specifications.all %}
										<b>{{strain_spec.get_specification_name_display}}</b> {{strain_spec.specification_value}}%
								{% endfor %}</p>
												</div>
												

											</div>
											<div class="row">
												<div class="col-md-6"></div>
												<div class="col-md-6"></div>

											</div>
											<div class="row">
												<div class="col-md-6"></div>
												<div class="col-md-6"></div>

											</div>
										</span>

									</div>


									

								</div>

							{% endfor %}







						</div>






				</div>
			</div>
		</div>
	{% endblock %}