	    



	    {{strain.title|title}}
		{{strain.strain_type_label}}
		{{strain.headline}}
		{{strain.date_created}}
		{{strain.date_updated}}
		{{strain.user.all}}
		{{strain.strain_type.title}}
		{% for strain in strain.brand.all %}
			{{strain}}
		{% endfor %}
		{% for strain_details_list_item in strain.strain_details_list.strain_details_list_items.strain_details_list_items.all %}
			{{strain_details_list_item.title}}
		{% endfor %}
		{% for strain_specification in strain.strain_specifications.specifications.all %}
			{{strain_specification.title}}
			{{strain_specification.specification_value}}
			{{strain_specification.get_specification_value_label_display}}
		{% endfor %}
		{{strain.description|safe}}
		{{strain.featured_image.url}}
		{% for strain_gallery_image in strain.image_gallery.images.images.all %}
			{{strain_gallery_image}}
		{% endfor %}
		{% for strain_feeling in strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}
			{% if strain_feeling.type_of_feelings == 'generic' %}
				{{strain_feeling.get_type_of_feelings_display}}
				{{strain_feeling.title}}
				{{strain_feeling.description|safe}}
				{{strain_feeling.feeling_icon}}
			{% elif strain_feeling.type_of_feelings == 'positive' %}
				{{strain_feeling.get_type_of_feelings_display}}
				{{strain_feeling.title}}
				{{strain_feeling.description|safe}}
				{{strain_feeling.feeling_icon}}
			{% elif strain_feeling.type_of_feelings == 'negative' %}
				{{strain_feeling.get_type_of_feelings_display}}
				{{strain_feeling.title}}
				{{strain_feeling.description|safe}}
				{{strain_feeling.feeling_icon}}
			{% endif %}
		{% endfor %}
		{% for strain_effect in strain.effects_reports.effect_report_list_set.effect_report_list.all %}
			{{strain_effect.get_type_of_effects_display}}
			{{strain_effect.title}}
			{{strain_effect.description|safe}}
			{{strain_effect.effect_icon}}
		{% endfor %}
		{% for strain_flavor in strain.flavor_reports.flavors_list_set.flavors_list.all %}
			{{strain_flavor.title}}
			{{strain_flavor.flavor_icon}}
		{% endfor %}
		{% for strain_aroma in strain.aromas_reports.aromas_list_set.aromas_list.all %}
			{{strain_aroma.title}}
			{{strain_aroma.aromas_icon}}
		{% endfor %}
		{% for strain_helps_with in strain.helps_with_reports.helps_with_report_list.helps_with_report_list.all %}
			{{strain_helps_with.title}}
			{{strain_helps_with.description|safe}}
			{{strain_helps_with.helps_with_icon}}
		{% endfor %}
		{% for strain_lineage in strain.strain_lineage_details_list.strain_lineage_details_list_items.strain_lineage_details_list_items.all %}
			{{strain_lineage.title}}
			{{strain_lineage.strain_lineage_01}}
			{{strain_lineage.strain_lineage_value_01}}
			{{strain_lineage.strain_lineage_02}}
			{{strain_lineage.strain_lineage_value_02}}
		{% endfor %}
		
		{% for strain_dispensary_sold_in in strain.dispensaries.all %}
			{{strain_dispensary_sold_in.title}}
		{% endfor %}
		{% include 'components/ratings/star_ratings/ratings_template.html' %}