{% extends 'cannabis_db/base.html' %}
	{% block content %}
		

		<div class="container">
			<div class="row">

				<div class="col-md-7">
					<div class="filler"></div>
					
				<img src="{{strain.featured_image.url}}" class="img-fluid">

				 
				<br><br>
				<div class="fotorama" data-allowfullscreen="true" data-keyboard="true" data-width="100%" data-nav="thumbs">
					{% for gallery_images in strain.image_galley.images.images.all %}
					{{gallery_images.image.url}}
					<a href="{{gallery_images.image.url}}"><img src="{{gallery_images.image.url}}" width="144" height="96"></a>
				{% endfor %}
				</div>







				</div>
				<div class="col-md-5">
					<div class="filler"></div>
					<div class="card p-2">
						<h1 class="title_heading">{{strain.title}}</h1>
						<h5 class="headline">{{strain.headline}}</h5>
						<hr class="cdb_hr_bk">
						{% if strain.strain_type_label == 'hybrid' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_HYBRID">{{strain.get_strain_type_label_display}}</a>
						{% endif %}
						{% if strain.strain_type_label == 'sativa' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_SATIVA">{{strain.get_strain_type_label_display}}</a>
						{% endif %}
						{% if strain.strain_type_label == 'indica' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_INDICA">{{strain.get_strain_type_label_display}}</a>
						{% endif %}



							<hr class="cdb_hr_bk">





							<p style="padding:0; margin: 0;">



								<b>By: </b><a href="{{strain.brand.get_absolute_url}}">{{strain.brand}}</a> | 
								<b>submitted by: </b> <a href="">{{strain.user}}</a> |  
								{% for vendor in strain.vendors.all %}
									<b>Vendor: </b><a href="">{{vendor}}</a>
								{% endfor %}

								|
								
							
									<a href="{% url 'cannabis_db:like_strain' strain.pk %}"><i class="fa-regular fa-thumbs-up"></i></a></i> 
									({{strain.likes.count}})

						
									<a href="{% url 'cannabis_db:unlike_strain' strain.pk %}"><i class="fa-regular fa-thumbs-up"></i></a></i> 
							



								<a href="{% url 'cannabis_db:dislike_strain' strain.pk %}"><i class="fa-regular fa-thumbs-down"></i></a>
								({{strain.dislikes.count}})|







								<a class="rate_link" href="{% url 'cannabis_db:save_strain' strain.pk %}"><i class="fa-solid fa-bookmark"></i></a>
								<a class="rate_link" href="{% url 'cannabis_db:unsave_strain' strain.pk %}"><i class="fa-regular fa-bookmark"></i></a> | 


							({{ratings.count}})</a> reviews | 



							</p>


							<hr class="cdb_hr_bk">







								{% if strain.details_list %}
									<p>{{strain.strain_details_list}}</p>
								{% endif %}
									<p>	
								{% for strain_spec in strain.strain_specifications.specifications_set.specifications.all %}
										<b>{{strain_spec.get_specification_name_display}}</b> {{strain_spec.specification_value}}%
								{% endfor %}
							</p>
						<hr>
						<p>{{strain.description|safe}}</p>
						
			</div>
			
<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->		

						{% if strain.feelings_reports %}
						<h5>Feelings</h5>
						<div class="row g-1">
							{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}
									{% if feeling.type_of_feelings == 'generic' %}				
										<div class="col-md-4">
											<div class="card strain_details_card text-center">
												<div class="center">
													{% load thumbnail %}
													<img src="{% thumbnail feeling.feeling_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												</div>
												<p><b>{{feeling.title}}</b></p>
												<p class="feeling_desc">{{feeling.description}}</p>
											</div>
										</div>
									{% endif %}
							{% endfor %}
						</div>
						{% endif %}


					<div class="row g-1">
							{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}
							
									{% if feeling.type_of_feelings == 'positive' %}		
									<div class="col-md-4">		
										<div class="card strain_details_card text-center">

										<p>{{feeling.title}}</p>
											<p class="feeling_desc">{{feeling.description}}</p>
										</div>
									</div>
									{% endif %}
									
							{% endfor %}
						</div>


						<div class="row g-1">
							{% if strain.feelings_reports %}
								<h5>Negatives</h5>
								{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}																	
										{% if feeling.type_of_feelings == 'negative' %}
										<div class="col-md-4">	
											<div class="card strain_details_card text-center">
												<div class="center">
													{% load thumbnail %}
														<img src="{% thumbnail feeling.feeling_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												</div>
													<p><b>{{feeling.title}}</b></p>
													<p class="feeling_desc">{{feeling.description}}</p>
												
											</div>
										</div>
										{% endif %}
								{% endfor %}
							{% endif %}
						</div>

						<div class="row g-1">
							{% if strain.helps_with_reports %}
								<h5>Helps with</h5>
								{% for helps_with in  strain.helps_with_reports.helps_with_report_list.helps_with_report_list.all %}																	
								
										<div class="col-md-4">	
											<div class="card strain_details_card text-center">
											<div class="center">
													{% load thumbnail %}
														<img src="{% thumbnail helps_with.helps_with_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												</div>
											<p><b>{{helps_with.title}}</b></p>
											<p class="feeling_desc">{{helps_with.description}}</p>
											
											</div>
										</div>
								
								{% endfor %}
							{% endif %}
						</div>
					
						<div class="row g-1">
							{% if strain.terpenes_reports %}
								<h5>Terpenes</h5>
								{% for terpene in strain.terpenes_reports.terpene_set.terpenes.all %}
									<div class="col-lg-12">
										<div class="card strain_details_card text-center">
											<p><b>{{terpene.terpene_name}} </b><i>{{terpene.terpene_value}}</i></p>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
			


						<div class="row g-1">
							{% if strain.flavor_reports %}
								<h5>Flavors</h5>
								{% for flavor in strain.flavor_reports.flavors_list_set.flavors_list.all %}
									<div class="col-md-4">
									
											<div class="card strain_details_card text-center">
												
												
												{%  load thumbnail %}
												<div class="text-center">
												<img src="{% thumbnail flavor.flavor_icon 30x30 crop %}" height="30" width="30" class="img-fluid text-center">
												<p><b>{{flavor.title}}</b></p>
											</div>
											</div>
								
									</div>
								{% endfor %}
							{% endif %}
						</div>
						
<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->			

						<div class="card  custom_card custom_card_for_reviews_box">
							<div class="darkster">
							<p><a href="">({{ratings.count}})</a> reviews</p>
							
								{% for rating in ratings.all %}
									<div class="card review_rating_card p-1 ">

										<div class="review_rating_card_header p-1">
											<p><b>{{rating.title}}</b> | <i>{{rating.headline}}</i> | ({{rating.rating}}) | </p>
										</div>
										<div class="review_rating_card_body p-1">
											<p>{{rating.comment}}</p>
										</div>
										<div class="review_rating_card_footer p-1">
											<p><b>Date submitted: </b>{{rating.date_published}} | <b>by</b> <a href="">{{rating.user}}</a> | 
											<a class="tiny_font" href="{% url 'cannabis_db:delete_review_rating' rating.pk %}"> <i class="fa-solid fa-trash-can"></i></a> | 
							<a class="tiny_font" href="{% url 'cannabis_db:delete_review_rating' rating.pk %}"><i class="fa-solid fa-flag"></i></a> | 
							<a class="tiny_font" href=""><i class="fa-solid fa-thumbs-up"></i></a>
							<a class="tiny_font" href=""><i class="fa-solid fa-thumbs-down"></i></a> | 
							<a class="tiny_font" href=""><i class="fa-solid fa-reply"></i></a> |
							<a class="tiny_font" href="">edit</a></p> 
										</div>
									</div>
								{% endfor %}
						</div>
					</div>


						<div class="card p-2 custom_card custom_card_for_reviews_form">	


						{% if user.is_authenticated %}				
							<div id="five_star_rating_system_wrapper">
								<form action="{% url 'cannabis_db:process_strain_review' strain.pk %}" method="POST">
								{% csrf_token %}
								<div id="five_star_rating_box_outer">
									<div id="five_star_rating_box">
										
										<input type="text" name="title" id='title' class="custom_tf " placeholder="title"><br>
										
										<input type="text" name="headline" id='headline' class="custom_tf" placeholder="headline"><br>
										<div class="rate">
											<input type="radio" id="star5" name="rate" value="5" />
											<label for="star5" title="text">5 stars</label>
											<input type="radio" id="star4" name="rate" value="4" />
											<label for="star4" title="text">4 stars</label>
											<input type="radio" id="star3" name="rate" value="3" />
											<label for="star3" title="text">3 stars</label>
											<input type="radio" id="star2" name="rate" value="2" />
											<label for="star2" title="text">2 stars</label>
											<input type="radio" id="star1" name="rate" value="1" />
											<label for="star1" title="text">1 star</label>
										</div>
									</div>
								</div>
								<div id="five_star_rating_comment_box">
								  <textarea placeholder="Write review..." name="five_star_rating_comment_ta" class="custom_ta" id="five_star_rating_comment_ta"></textarea>
								</div>
								<div id="">
									<button id="submit_review_btn">Submit review</button>
								</div>
								</form>
							</div>
							{% else %}
								<p>Please login to rate and review recipe. <a href="{% url 'accounts:login' %}">Login</a></p>
						{% endif %}
						</div>






				</div>
			</div>
		</div>
	{% endblock %}
