.button {
	border: none;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
}
.sm{
	font-size: 10px;
	padding: 7px 16px;
	border-radius: 3px;
}
.md{
	font-size: 13px;
	padding: 7px 19px;
	border-radius: 5px;
}
.lg{
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 7px;

}

.full {
	width: 100%;
}
.green{
	background: #018711;
	color: white;
}
.red{
	background: #c20000;
	color: white;
}
.orange{
	background: #d43d02;
	color: white;
}


.login_with_x_btn{
	background: #0f7d01;
	color: white;
	margin-bottom: 3px;

}
.login_with_f_btn{
	background: #138f03;
	color: white;
	margin-bottom: 3px;
}
.login_with_g_btn{
	background: #0d6601;
	color: white;
	margin-bottom: 3px;
}
.login_btn{
	background: #094a01;
	color: white;
	margin-bottom: 3px;
}
.create_account_btn{
	background: #094a01;
	color: white;
	margin-bottom: 3px;
}

      .jaba{

      }
      .search_app_form_tf{
        float: left;
      }
      #search_app_form_btn{
        float: right;
        background: white;
        position: absolute;
        padding: 1px;
        margin-left: -27px;
        margin-top: 2px;
        border: none;


      }