.xs{
	font-size: 10px;
}
.front_page_section_heading{
	font-size: 13px;
	font-weight: 500;

}
.page_heading{
	font-size: 30px;
	font-weight: 400;
}
.page_sub_heading{
		font-size: 15px;
	font-weight: 500;
}
h6{
	font-weight: 600;
}
.tagline{
	font-size: 20px;
	font-weight: 300;
	
}