
html{

	background: #f5f2f2;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	background: #f5f2f2;
}
.dispensary_title{
	font-weight: 900;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;	
}
p{
	font-size: 12px;
}


.filler{
	height: 90px;
}
/*************** NAVIGATION STYLES STARTS HERE *****************/
.navigation{
	background: white;
	position: fixed;
	width: 100%;
	box-shadow: 1px 1px 4px 1px #999;
	padding: 10px 0;
	z-index: 999;
}

/*************** NAVIGATION STYLES ENDS HERE *****************/


/*************** CARDS STYLES STARTS HERE *****************/
.card{
	margin-bottom: 7px;
	border:none;

}
.card_header{
	border-bottom:1px solid #DDD;
	padding-left: 10px;
	padding-top: 3px;
}
.card__meta_header{
	border-bottom:1px solid #DDD;
	padding-left: 10px;
	padding-top: 3px;
}
.card_body{
	padding-left: 10px;
	padding-top: 3px;
}
.card_footer{

	border-top:1px solid #DDD;
	padding-left: 10px;
	padding-top: 3px;
}
/*************** CARDS STYLES ENDS HERE *****************/


ul{
	padding: 0;
	margin: 0;	
}
ul li{
	font-size: 12px;
	list-style: none;

}

.bg{
	background: #f5f2f2;
}