{% extends 'template_parts/base.html' %}
	{% block content %}




<div class="container padding_200">
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <div class="card p-2">
<h3>Create account</h3>
<br>
<hr>
<br>
      <table class="table ">
      <form method="POST">
      	{% csrf_token %}
     


        <tr><td>{{create_account_form.username}}</td></tr>
        <tr><td>{{create_account_form.email}}</td></tr>

        <tr><td>{{create_account_form.password1}}</td></tr>
        <tr><td>{{create_account_form.password2}}</td></tr>
        <tr><td><button class="button button-green button-full lrg">Create account</button></td></tr>
        <tr><td><p>Have an account? <a href="{% url 'accounts:login' %}" >login</a></p></td></tr>

      </form>
    </table>
</tr>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>
	{% endblock %}
