General Questions and Answers

    What is Allbud.com?
    How much does Allbud.com cost?
    Why should I sign up?
    I forgot my Username and/or Password.
    How can I change the username on my account?
    How can I change the primary location listed on my user account?
    How do I Search Allbud.com?
    How do I change the email address I use to log in to my user account?
    How do I change the password for my user account?
    How do I change the personal information on my account?
    How do I confirm my email address?
    How do I subscribe to the to Allbud.com emails and newsletters?
    How do I review Dispensaries and Clinics?
    How do I "Follow" a Dispensary?
    My favorite Dispensary doesn't have a menu posted?
    How do I review Strains
    How do I "Favorite" a strain?
    Why are my reviews and ratings not being displayed?
    I found information that isn't accurate
    How can I unsubscribe from the newsletter?
    Is this a Government website? Are you guys cops? Really?
    Do you sell MMJ or recreational products directly?
    Can you get me a job at my local dispensary or clinic?
    Privacy
    How do I contact AllBud.com?

1. What is Allbud.com?
A. AllBud's primary focus is to provide the best online information for patients seeking relief from their ailments through state-licensed medical marijuana programs, CBD programs, and state-licensed recreational facilities.
2. How much does Allbud.com cost?
A. Allbud.com is free for users.
3. Why should I sign up?
A. Registered users can upload photos, post reviews, bookmark strains, follow dispensaries, and much more.
4. I forgot my Username and/or Password.
A. Click HERE to have your log in information e-mailed to you.
5. How can I change the username on my account?
A. You can change your Username at anytime by:

    Logging into Allbud.com HERE
    Click the “My Allbud” link from any page once you're logged in.
    Click the “My Account Info” tab on the left hand menu.
    You can then choose any Username that is available for your new handle.

6. How can I change the primary location listed on my user account?
A. You can set your location to any City, State, or Zip Code by clicking the “Set” button near the top left corner of our map HERE
B. Our system will also “Get” your location for you, just by clicking the “Get” link
7. How do I Search Allbud.com?
A. You can search by Dispensary, Strain, Doctor or Ailment. Just start typing in the large search window at the top of the page and our system will make recommendations.
8. How do I change the email address I use to log in to my user account?
A. You can change your Email at anytime by:

    Logging into Allbud.com HERE
    Click the “My Allbud” link from any page once you're logged in.
    Click the “My Account Info” tab on the left hand menu.
    d. You can add emails, change the primary email and verify emails.

9. How do I change the password for my user account?
A. You can change your Password at anytime by:

    Logging into Allbud.com HERE
    Click the “My Allbud” link from any page once you're logged in.
    Click the “My Account Info” tab on the left hand menu.

10. How do I change the personal information on my account?
A. You can change your profile information at anytime by:

    Logging into Allbud.com HERE
    Click the “My Allbud” link from any page once you're logged in HERE
    Click the “My Account Info” tab on the left hand menu HERE

11. How do I confirm my email address?
A. A. To confirm your email address:

    Log into Allbud.com HERE
    Click the “My Allbud” link from any page once you're logged in.
    Click the “My Account Info” tab on the left hand menu.
    You can add emails, change the primary email and verify emails.

12. How do I subscribe to the to Allbud.com emails and newsletters?
A. Just click HERE or enter your email at the bottom of any page.
13. How do I review Dispensaries and Clinics?
A. Visit any dispensary or clinic page and click “Write a Review” or scroll to the Reviews section at the bottom of the page.
14. How do I “Follow” a Dispensary?
A. Click the “Follow Dispensary” link on any clinic or dispensary page. Your followed dispensaries will show up in your “My Allbud” newsfeed so you can see their new menu items and specials.
B. You can “Unfollow” the dispensary by clicking the “Unfollow Dispensary” link on the Dispensary page or from your My Allbud page HERE
15. My favorite Dispensary doesn’t have a menu posted?
A. Visit their Dispensary page and use the “Menu Request” feature on the left side of the page to send them a request.
16. How do I review Strains
A. Visit any strain page and click “Write a Review” or scroll to the Reviews section at the bottom of the page.
17. How do I “Favorite” a strain?
A. Click the “Favorite Strain” link on any strain page near the top.
B. You can “Un-favorite” the strain by clicking the “Un-favorite Strain” link on the Strain page or from your My Allbud page HERE
18. Why are my reviews and ratings not being displayed?
A. Please contact us. We do monitor reviews for suspicious activity and spam and your activity may have been flagged.
19. I found information about my favorite Strain, Dispensary or Clinic that isn’t accurate. How do I tell you guys to fix it?
A. Please contact us.
20. How can I unsubscribe from the newsletter?
A. To unsubscribe, click HERE.
21. Is this a Government website? Are you guys cops? Really?
A. Nope. We are not cops and are not affiliated with any state or federal agency. Maybe we can recommend something with less of a paranoia effect?
22. Do you sell MMJ or recreational products directly?
A. Nope, we don’t sell any marijuana products or related items, but we may have listings for legal MMJ or recreational resources in your area.
23. Can you get me a job at my local dispensary or clinic?
A. Nope, but we may have listings for clinics and dispensaries in your area. Please don’t send us your resume.
24. Privacy
A. We take privacy seriously. Please review our Privacy Policy HERE