/* === Dark Mode === */
body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode .main_menu_right li a {
  color: #999999;
}

.dark-mode .theme-icon {
  filter: invert(1); /* Invert PNG icons */
}

.dark-mode #theme-icon {
  color: #CFFF04;
}

/* === Optional Colorful Mode === */
body.colorful-mode {
  background-color: #ffe600;
  color: #222222;
}

.colorful-mode .main_menu_right li a {
  color: #cc00cc;
}

.colorful-mode .theme-icon {
  filter: hue-rotate(90deg);
}

.colorful-mode #theme-icon {
  color: #ff00ff;
}
.colorful-mode .card {
  background-color: pink;
}