body.cyberpunk-mode {
  background: #14141c;
  color: #000;
  
}
body.cyberpunk-mode p {

  color: #ddd;
  
}
body.cyberpunk-mode .card{
  background: #111;
}


body.cyberpunk-mode .side_menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
body.cyberpunk-mode .side_menu li{
  border-bottom: 1px solid #111;
  background: #000;
}
body.cyberpunk-mode .side_menu li a{
  font-size: 12px;
  color: #cb71d1;
}
body.cyberpunk-mode .side_menu li a:hover{
  font-size: 12px;
  color: #ff00d9;
}
body.cyberpunk-mode .main-nav {
    padding: 10px;
    border-bottom: 1px solid #ff00d9;
}

body.cyberpunk-mode a {
  color: #ad82b0;
}

body.cyberpunk-mode .form-control{
  border: 1px solid #ff00d9;
  color: #cb71d1;
}
body.cyberpunk-mode ::placeholder{
  color: #ad82b0;
}



body.cyberpunk-mode #page_heading {
    color: #FF13F0;
    font-weight: 900;
    letter-spacing: -2px;
}

body.cyberpunk-mode #profile_heading {
    color: #FF13F0;
    font-weight: 900;
    letter-spacing: -2px;
}
body.cyberpunk-mode  .border_right{
  border-right: 1px dotted #48014a;
}


body.cyberpunk-mode hr {
    padding: 0;
    border-top: 2px dotted #48014a;
    margin: 0;
}


body.cyberpunk-mode .accordion-button {
    position: relative;
    display: flex
;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color:#ad82b0;
    text-align: left;
    background-color:#0e0e14;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}


body.cyberpunk-mode  .accordion-item {
    color:#ad82b0;
    background-color: black;
    border: black;
}


body.cyberpunk-mode  .accordion {
    background: var(--bkg-color);
    color:#ff00d9;
    font-weight: 700;
    cursor: pointer;
    padding: 0px 0px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted black;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: "Mona Sans", sans-serif;
}


body.cyberpunk-mode .dispensary_details_list {
    margin: 20px 0px;
    list-style: square;
    width: 100%;
    color: #ad82b0;
}
body.cyberpunk-mode .dispensary_details_list lu {

    color: #ad82b0;
}

body.cyberpunk-mode svg{
  fill: #ad82b0;
}

body.cyberpunk-mode b{
  color: #FF13F0;
  font-weight: 800;
}

body.cyberpunk-mode .no_bullets{
  list-style: none;
}



body.cyberpunk-mode .login_form_card {
  background: black;
}

body.cyberpunk-mode .percentage_mark_lbl {

}