body.dark-mode {
  background: #121212;
  color: #fff;
}



body.dark-mode .card{
  background: #111;
}

body.dark-mode .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}
body.dark-mode .side_menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
body.dark-mode .side_menu li{
  border-bottom: 1px solid #111;
  background: #000;
}
body.dark-mode .side_menu li a{
  font-size: 12px;
  color: #ddd;
}
body.dark-mode .side_menu li a:hover{
  font-size: 12px;
  color: #458E0C;
}

body.dark-mode .main-nav {
    padding: 10px;
    border-bottom: 1px solid #458E0C;
}