body.light-mode {
  background: #fff;
  color: #000;
  
}

body.light-mode .card{
  background: #fefefe;
}

body.light-mode .main-nav {
    padding: 10px;
    border-bottom: 1px solid #999;
}

body.light-mode a {
  color: #000;
}

body.light-mode .form-control{
  border: 1px solid #999;
}


body.light-mode .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e3e1e1;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}


body.light-mode .side_menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
body.light-mode .side_menu li{
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}
body.light-mode .side_menu li a{
  font-size: 12px;
}