{% load comments %}
{% load comments_xtd %}


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
{% get_comment_count for strain as comment_count %}
          <div class=" ">

        
            {{ comment_count }} opinion{{ comment_count|pluralize }}
            {{ comment_count|pluralize:"s," }}

          
          </div>




<ul class="media-list p-0">
  {% render_xtdcomment_tree for strain allow_flagging allow_feedback show_feedback   %}
</ul>


    {% for strain in object_list %}
    ...
    {% get_comment_count for strain as comment_count %}
    <p class="date">Published {{ strain.publish }}
      {% if comment_count %}
      &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
      {% endif %}
    </p>
    ...
    {% endfor %}


 
<div class="comment">

 
    {% render_comment_form for strain %}
 
</div>