
<div class="main_footer ">

<div class="container">

  <div class="row">

    <div class="col-lg-12">
   

  <div class="row">
    <div class="col-md-2">
    <h5>PRIVACY & TERMS</h5>
    <hr>
    <br>
    <ul class="">
      <li>Terms of use</li>
      <li>Commercial terms of use</li>
      <li>Privacy policy</li>
      <li>Do not sell my personal information</li>
    </ul>
    </div>
    <div class="col-md-2">
    <h5>ABOUT CDB</h5>
    <hr>
    <br>
    <ul class="">
      <li>About us</li>
      <li>Careers</li>
      <li>Newsroom</li>
      <li>Investor relations</li>
      <li>Contact us</li>
      <li>FAQs</li>
      <li>Accessibility</li>
    </ul>
    </div>
    <div class="col-md-2">
    <h5>DISPENSARIES IN</h5>
    <hr>
    <br>
    <ul class="">
      <li>Los Angeles</li>
      <li>Seattle</li>
      <li>Portland</li>
      <li>San Francisco</li>
      <li>Toronto</li>
      <li>Detroit</li>
      </ul>
    </div>

    <div class="col-md-6">
      
     <h4>Huga chuggah hugah chuggah hugah hugah hugah chuggah</h4>
   <hr>
   <form method="POST" action="">

      <input type="text" " name="" class="form-control"><button>subscribe</button>
   </form>
    </div>

    </div>
  </div>




</div>
</div>






<br>
<br>
<hr>
<br>
<br>

<div class="container">






  <div class="row">

    <div class="col-lg-12">

     <h6>Have ideas to improve CDB? <a href="" class="" id="leave_feedback_btn">Leave a feedback</a></h6>
     <br><br>
   <hr>
    </div>
  
  </div>
    <div class="row">
    <div class="col-lg-12">
      <br><br><br>
       <p>The content on this site is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.</p>
<br>
<p style="margin-top:10px;">The reviews and information on this website are based on personal experiences, opinions, and research. Cannabis affects individuals differently, and the effects can vary based on factors such as tolerance, dosage, and individual physiology. The information provided here is not meant to endorse any particular strain or product.</p>
<br><br><br>
    <hr>
    </div>

  </div>


    <div class="row">

    <div class="col-md-8">
      <br><br>
     <p>© 2024 - CannabisDatabase </p>
    </div>
    <div class="col-md-2">
    
    </div>
  </div>


</div>







</div>







<script type="text/javascript">
    $(document).ready(function() {
        $('#show_body').click(function() {
                $('.body_open_feelings').slideToggle("fast");
        });
    });
    $(document).ready(function() {
        $('#show_body_negatives').click(function() {
                $('.body_open_negatives').slideToggle("fast");
        });
    });
    $(document).ready(function() {
        $('#show_body_helps_with').click(function() {
                $('.body_open_helps_with').slideToggle("fast");
        });
    });
    $(document).ready(function() {
        $('#show_body_terpenes').click(function() {
                $('.body_open_terpenes').slideToggle("fast");
        });
    });
    $(document).ready(function() {
        $('#show_body_flavors').click(function() {
                $('.body_open_flavors').slideToggle("fast");
        });
    });
</script>



</body>
</html>
