<div class="filler"></div>
<div class="filler"></div>
<hr>
<div class="footer">
	<div class="filler"></div>
<div class="container">
	<div class="row">
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>

</div>

</div>
<div class="container">
	<div class="row">
<div class="col-md-6">
<ul class="footer_menu">
	<li>© 2024 Strainsdb.com</li> | 
	<li><a href="">Home</a></li> | 
	<li><a href="{% url 'cannabis_db:dispensaries' %}">Dispensaries</a></li> | 
	<li><a href="">Strains</a></li> | 
	<li><a href="{% url 'cannabis_db:brands' %}">Brands</a></li> | 
	<li><a href="">Products</a></li> | 
	
	<li><a href="">Terms of Use</a></li> | 
	<li><a href="">Privacy Policy</a></li>
</ul>
</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>

</div>

</div>
</div>

<style type="text/css">
	.footer_menu{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.footer_menu li {
		display: inline;
	}
</style>
</body>
</html>