


<div class="footer">



<div class="container">
	<div class="row">
<div class="col-lg-12">
			{% if request.user.is_authenticated %}
					<p>It looks like you are logged in (<a href="{% url 'memberships:edit_profile' user.pk %}">Edit</a>)</p>
			{% endif %}
</div>
</div>
</div>



<div class="container">
	<div class="row">
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>

</div>

</div>
<div class="container">
	<div class="row">
<div class="col-md-8">
<ul class="footer_menu">
	<li>© 2024 Strainsdb.com</li> | 
	<li><a href="">Home</a></li> | 
	<li><a href="{% url 'cannabis_db:dispensaries' %}">Dispensaries</a></li> | 
	<li><a href="">Strains</a></li> | 
	<li><a href="{% url 'cannabis_db:brands' %}">Brands</a></li> | 
	<li><a href="">Products</a></li> | 
	
	<li><a href="{% url 'cannabis_db:terms_conditions' %}">Terms & Conditions</a></li> | 
	<li><a href="">Privacy Policy</a></li> |
	{% if user.is_authenticated %}
	<li><a href="{% url 'accounts:front_page' %}">My account</a></li> | 
	{% endif %}
	<li><a href="{% url 'cannabis_db:contact' %}">Contact us</a></li> 
	<li><b>Follow us: </b></li>
	<li><a href="https://www.facebook.com/profile.php?id=61569075290360"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#3d5a98" d="M14.2 2.875A4.625 4.625 0 0 0 9.575 7.5v2.575H7.1c-.124 0-.225.1-.225.225v3.4c0 .124.1.225.225.225h2.475V20.9c0 .124.1.225.225.225h3.4c.124 0 .225-.1.225-.225v-6.975h2.497c.103 0 .193-.07.218-.17l.85-3.4a.225.225 0 0 0-.218-.28h-3.347V7.5a.775.775 0 0 1 .775-.775h2.6c.124 0 .225-.1.225-.225V3.1c0-.124-.1-.225-.225-.225z"/></svg></a></li>

</ul>
</div>
<div class="col-md-3">

</div>
<div class="col-md-3">

</div>

</div>

</div>
</div>

<style type="text/css">
	.footer_menu{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.footer_menu li {
		display: inline;
	}
</style>
</body>
</html>