{% extends 'template_parts/base.html' %}
{% load thumbnail %}
	{% block content %}


<section id="featured_dispensaries_section">

		<div class="container">




			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Nearest dispensaries</h1>
				<br>
				<hr>
				<br>
	
							<div class="row g-1">
				{% for dispensary in featured_dispensaries %}			
					<div class="col-md-2">
						<div class="card">
							<div class="row">
								<div class="col-md-3 border_right">
									<a href="{{dispensary.get_absolute_url}}">
								<img src="{% thumbnail dispensary.dispensary_logo 1200x1200 crop %}" class="img-fluid radius_md" style="width:100%; text-align: center;">
							</a>
								</div>
								<div class="col-md-9">
									<a href="{{dispensary.get_absolute_url}}" class="small_link">{{dispensary.title|truncatechars:23}}</a>
								</div>
							</div>
							<style type="text/css">
								.small_link{
									font-size: 11px;
									text-decoration: none;
								}
								.small_link:hover{
									font-size: 11px;
									text-decoration: none;
									color: #666;
								}

							</style>
							
						</div>
					</div>				
				{% endfor %}
<a href="{% url 'cannabis_db:dispensaries' %}" class="sm p-0">view all</a>	
			</div>
				</div>
			
			</div>



</div>

</section>







		<div class="container">






			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Categories</h1>
				<br>
				<hr>
				<br>
	
							<div class="row g-2">
				{% for category in featured_categories %}			
					<div class="col-md-2">
						<div class="card">
							<a href="{{category.get_absolute_url}}">
								<img src="{% thumbnail category.featured_image 700x700 crop %}" class="img-fluid radius_md">
							</a>
							<a href="{{category.get_absolute_url}}">{{category.title}}</a>
						</div>
					</div>				
				{% endfor %}
<a href="" class="sm">view all</a>
			</div>
				</div>
				
			</div>


</div>

		<div class="container">





			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Brands</h1>
				<br>
				<hr>
				<br>
	
							<div class="row g-2">
				{% for brand in featured_brands %}			
					<div class="col-md-2">
						<div class="card">
							<a href="{{brand.get_absolute_url}}">
								<img src="{% thumbnail brand.featured_image 700x700 crop %}" class="img-fluid radius_md">
							</a>
							<a href="{{strain.get_absolute_url}}">{{brand.title}}</a>
						</div>
					</div>				
				{% endfor %}
			<a href="" class="sm">view all</a>
			</div>
				</div>
				
			</div>






</div>


		<div class="container">








			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Products</h1>
				<br>
				<hr>
				<br>
	
							<div class="row g-2">
				{% for product in featured_products %}			
					<div class="col-md-2">
						<div class="card">
							<a href="">
								<img src="{% thumbnail product.featured_image 700x700 crop %}" class="img-fluid radius_md">
							</a>
					
						</div>
					</div>				
				{% endfor %}
		<a href="" class="sm">view all</a>
			</div>
				</div>
				
			</div>




</div>

		<div class="container">
















			<div class="row">

				<div class="col-lg-12">
					<br>
					<h1 class="front_page_section_heading">Recently added strains</h1>
<br>
				<hr>
				<br>
			<div class="row g-2">
				{% for strain in latest_strains %}			
					<div class="col-md-2 ">
						<div class="card">

							{% if strain.strain_type_label == 'indica' %}

								<mark class="strain_type_label" id="strain_label_indica">In</mark>

							{% elif strain.strain_type_label == 'sativa' %}

								<mark class="strain_type_label" id="strain_label_sativa">St</mark>

							{% elif strain.strain_type_label == 'hybrid' %}

								<mark class="strain_type_label" id="strain_label_hybrid">Hy</mark>

							{% endif %}

							<div class="koko">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
<style type="text/css">
	.koko{
		position: absolute;
		right: 3px;
	}
</style>
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md lazy">
							</a>
							<a href="{{strain.get_absolute_url}}" class="catalog_item_link">{{strain.title}}</a>

							
						</div>
					</div>		
							
				{% endfor %}
			</div>
				</div>
				
			</div>

		</div>


<section id="featured_dispensaries_section">
				<div class="container">



			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Featured strains</h1>
				<br>
				<hr>
				<br>
	
							<div class="row g-2">
				{% for strain in featured_strains %}			
					<div class="col-md-2 ">
						<div class="card">

							{% if strain.strain_type_label == 'indica' %}

								<mark class="strain_type_label" id="strain_label_indica">In</mark>

							{% elif strain.strain_type_label == 'sativa' %}

								<mark class="strain_type_label" id="strain_label_sativa">St</mark>

							{% elif strain.strain_type_label == 'hybrid' %}

								<mark class="strain_type_label" id="strain_label_hybrid">Hy</mark>

							{% endif %}

							<div class="koko">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
<style type="text/css">
	.koko{
		position: absolute;
		right: 3px;
	}
</style>
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md lazy">
							</a>
							<a href="{{strain.get_absolute_url}}" class="catalog_item_link">{{strain.title}}</a>

							
						</div>
					</div>		
							
				{% endfor %}
			</div>
				</div>
				
			</div>


		</div>



				<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<br>
				<h1 class="front_page_section_heading">Top rated strains</h1>
			<br>
				<hr>
				<br>
				</div>
				
			</div>
		</div>
	{% endblock %}