{% load static %}
{% load ratings %}
<!DOCTYPE html>
<html>
<head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YWGL2629WD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YWGL2629WD');
</script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4971729705644054"
     crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="google-adsense-account" content="ca-pub-4971729705644054">



	<title>
      {% if meta_title %}
          {{meta_title}}
      {% endif %}
      {% if title %}
          {{title}}
      {% endif %}
      {{object.title}}
  </title>

<meta name="description" content="{{title_description}}{{strain.strain_metas_set.strain_meta_description}}">

<meta name="keywords" content="

{% for kw in strain.strain_metas_set.strain_meta_keywords.keywords.all %} 
  {{kw}}
{% endfor %}">



<link 
  rel="stylesheet" 
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
  crossorigin="anonymous"
>




<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static 'imgs/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/apple-touch-icon.png' %}" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/site.webmanifest" />



<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">







<!-- DJANGO STAR RATINGS STARTS --->

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<!-- DJANGO STAR RATINGS ENDS --->



<!-- BOOTSTRAP STARTS --->


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- BOOTSTRAP ENDS --->


<!-- GOOGLE FONTS STARTS --->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

<!-- GOOGLE FONTS ENDS --->




<!-- CSS EMBEDDS STARTS --->



<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/colorful-theme.css' %}"> 

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/themes/neon_green.css' %}"> -->

<!-- CSS EMBEDDS ENDS --->



<!-- FOTORAMA STARTS --->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.min.js" integrity="sha512-1fr+RNHNSmvkFWikp/zBuelN1rcWpDKXgE9Cj5kNlD+6WQgCbxkunUQ0nT0viGOFiMixdbDslAWu7XgucnHeZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" integrity="sha512-+sUyMRAhI7Py2/SpXZyOkW+h7OqSyLkgMfbKEVC+1f7Vm65suBAo4MUt3sx1SEbHBcF4LeKEjK4zKBsJsbRldg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- FOTORAMA ENDS --->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/drkmd-js/dist/drkmd-js.min.js" data-drkmd-attach ></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">























</head>


<body>
<div id="overlay" class="overlay" onclick="closeNav()"></div>
<div id="main">

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header p-0">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="32" viewBox="0 0 35 32"><g fill="#06721e" stroke-width="0.2" stroke="#06721e"><path d="M21.799 2.954C20.694 1.05 19.19 0 17.564 0s-3.131 1.05-4.236 2.954L1.059 24.087c-1.12 1.947-1.24 3.969-.33 5.546c.866 1.5 2.565 2.363 4.664 2.367h24.342c2.102-.004 3.804-.864 4.667-2.361c.905-1.567.783-3.581-.335-5.525zm11.738 26.185c-.681 1.18-2.067 1.858-3.804 1.861H5.394c-1.731-.003-3.115-.684-3.799-1.867c-.727-1.26-.606-2.917.33-4.546L14.193 3.456C15.112 1.872 16.309 1 17.564 1s2.452.872 3.37 2.456l12.268 21.157c.935 1.626 1.057 3.276.335 4.526"/><path d="M17.564 20a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5m-.064 2.5c-1.103 0-2 .897-2 2s.897 2 2 2s2-.897 2-2s-.897-2-2-2m0 3a1.001 1.001 0 0 1 0-2a1.001 1.001 0 0 1 0 2"/></g></svg> &nbsp;&nbsp;&nbsp; Age verification!</h1>
        <button type="button" class="" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#06721e" d="m12 12.708l-5.246 5.246q-.14.14-.344.15t-.364-.15t-.16-.354t.16-.354L11.292 12L6.046 6.754q-.14-.14-.15-.344t.15-.364t.354-.16t.354.16L12 11.292l5.246-5.246q.14-.14.345-.15q.203-.01.363.15t.16.354t-.16.354L12.708 12l5.246 5.246q.14.14.15.345q.01.203-.15.363t-.354.16t-.354-.16z" stroke-width="0.5" stroke="#06721e"/></svg></button>
      </div>
      <br>
      <hr>
      <div class="modal-body p-5 center">
        <br>
        <h3>Are you 21 years of age or older?</h3>
<br><br><br><br>
        <button id="over_21_btn" class="over_21_btn" type="button">Yes</button>
        <button id="under_21_btn" class="under_21_btn" type="button">No</button>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>



<div id="mainkoko">


{% include 'template_parts/elements/menus/menu.html' %}















<br>

<div class="filler">

</div>
  <div class="card p-3 text-center">
       <!--  <a href="https://amzn.to/4egcxbC"><img src="{% static 'imgs/je.gif' %}" class="img-fluid" height="50" width="600"></a> -->
     <br>

{% include 'components/search/search_form.html' %}
<br>

 </div>
      <div class="filler">

</div>


<!-- Button trigger modal -->







<hr>






























