<div class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-2"><button class="howtoga" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"></i></button>
 Cannabis DB</div>
			<div class="col-md-5">
				<div class="search_form_container">
					<form action="" method="POST" id="search_form">
						<input type="text" name="" id=" search_form_tf" class="kokokok">
						<button id="search_app_btn"><i class="fa-solid fa-magnifying-glass" ></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-5">
				<ul class="nav">
					<li><a href="{% url 'cannabis_db:strains' %}">browse strains</a></li>

					<li><a href="{% url 'cannabis_db:flavors' %}">flavors</a></li>


					{% if user.is_authenticated %}
							<li><a href="{% url 'account_logout' %}">logout</a></li>
							<li><a href="{% url 'memberships:profile' %}">profile</a></li>
					{% else %}
					<li><a href="{% url 'account_login' %}">login</a></li>
					<li><a href="{% url 'account_signup' %}">create account</a></li>
					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
  	<div class="p-2">

  	<p class="sidebar_profile_menu">  		{% load thumbnail %}
  		<a href="{% url 'memberships:profile' %}"><img src="{% thumbnail user.profile.profile_photo 20x20 crop %}"  class="border_radius_sm"></a>&nbsp;<b>Welcome back: </b>{{user}} | <a href="{% url 'account_logout' %}">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a></p>
  </div>
    <button type="button" class="btn close_btn" data-bs-dismiss="offcanvas" ><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="offcanvas-body">
{% include 'template_parts/sidebar.html' %}
  </div>
</div>