<div class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-3">Cannabis DB</div>
			<div class="col-md-6">
					<form action="" method="POST" id="search_form">
						<input type="text" name="" id="search_form_tf">
						<button><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
			</div>
			<div class="col-md-3">
				<ul class="nav">
					<li><a href="{% url 'account_login' %}">login</a></li>
					<li><a href="{% url 'cannabis_db:flavors' %}">flavors</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>