<div class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-3"><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"></i></button>
 Cannabis DB</div>
			<div class="col-md-3">
					<form action="" method="POST" id="search_form">
						<input type="text" name="" id=" search_form_tf">
						<button><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
			</div>
			<div class="col-md-6">
				<ul class="nav">
					<li><a href="{% url 'cannabis_db:strains' %}">browse strains</a></li>
					<li><a href="{% url 'account_login' %}">login</a></li>
					<li><a href="{% url 'account_signup' %}">create account</a></li>
					<li><a href="{% url 'memberships:profile' %}">profile</a></li>
					<li><a href="{% url 'account_logout' %}">logout</a></li>
					<li><a href="{% url 'cannabis_db:flavors' %}">flavors</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
{% include 'template_parts/sidebar.html' %}
  </div>
</div>