

<div class="card sidebar_card_for_flavors_menu">
	<ul class="sidebar_ul">
		<li><a href="{% url 'memberships:profile' %}">My profile</a></li>
		<li><a href="">My account</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'cannabis_db:saved_strains' user.pk %}">My saved strains</a></li>
		{% endif %}
	</ul>
</div>



<div class="card sidebar_card_for_flavors_menu">
	<ul class="sidebar_ul">
		{% for flavor_menu_item in flavors_menu.all %}
				{% load thumbnail %}
				<li><a href="{{flavor_menu_item.get_absolute_url}}"> <img src="{% thumbnail flavor_menu_item.flavor_icon 15x15 crop %}"> {{flavor_menu_item.title}} </a></li>
		{% endfor %}
	</ul>
</div>


<div class="card sidebar_card_for_feelings_menu">
	<ul class="sidebar_ul">
	{% for feelings_menu_item in feelings_menu.all %}
			{% load thumbnail %}
			<li><a href="{{feelings_menu_item.get_absolute_url}}"> <img src="{% thumbnail feelings_menu_item.feeling_icon 15x15 crop %}"> {{feelings_menu_item.title}} </a></li>		
	{% endfor %}
	</ul>
</div>






<div class="card sidebar_card_for_helps_with_menu">
	<ul class="sidebar_ul">
	{% for helps_with_menu_item in helps_with_menu.all %}
			{% load thumbnail %}
			<li><a href="{{helps_with_menu_item.get_absolute_url}}"> <img src="{% thumbnail helps_with_menu_item.helps_with_icon 15x15 crop %}"> {{helps_with_menu_item.title}} </a></li>		
	{% endfor %}
	</ul>
</div>



<div class="card sidebar_card_for_helps_with_menu">

<ul class="sidebar_ul">

			<li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </a></li>		
				<li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-circle-info"></i> Help </a></li>		

	</ul>
</div>