





<div class="container">
	<div class="row g-1">
		<div class="col-md-7">
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					card header
				</div>
				<div class="card_body">
					<div class="fotorama" data-allowfullscreen="true" data-keyboard="true" data-width="100%" data-nav="thumbs">
						{% for gallery_images in strain.image_galley.images.images.all %}
							{{gallery_images.image.url}}
							<a href="{{gallery_images.image.url}}"><img src="{{gallery_images.image.url}}" width="144" height="96"></a>
						{% endfor %}
					</div>
				</div>
				<div class="card_footer">
					card footer
				</div>
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					card header
				</div>
				<div class="card_body">
					{% include 'commenting_system_components/commenting_system.html' %}
				</div>
				<div class="card_footer">
					card footer
				</div>
			</div>
			<!-- card ends -->
		</div>
		<div class="col-md-5">
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					<div class="row">
						<div class="col-md-9">	
							<h1 class="title_heading">{{strain.title}}</h1>
						</div>
						<div class="col-md-3">	
							{% if user.is_authenticated %}
								{% if saved %}
								<a class="rate_link" href="{% url 'cannabis_db:save_strain' strain.pk %}"><i class="fa-solid fa-bookmark"></i></a>
																
								{% else %}
									<a class="rate_link" href="{% url 'cannabis_db:save_strain' strain.pk %}"><i class="fa-regular fa-bookmark"></i></a>					
								{% endif %}
							{% endif %}
							<b><a href="">({{strain.saves.count}})</a></b> saves
						</div>
					</div>
				</div>
				<div class="card_body">
					{{strain.headline}}
				</div>
				<div class="card_footer">
					<b>By: </b><a href="{{strain.brand.get_absolute_url}}">{{strain.brand}}</a> | 
					<b>submitted by: </b> <a href="">{{strain.user}}</a> 
					{% for vendor in strain.vendors.all %}
						<b>Vendor: </b><a href="">{{vendor}}</a>
					{% endfor %}
				</div>
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					{% if strain.strain_type_label == 'hybrid' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_HYBRID">{{strain.get_strain_type_label_display}}</a>
						{% endif %}
						{% if strain.strain_type_label == 'sativa' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_SATIVA">{{strain.get_strain_type_label_display}}</a>
						{% endif %}
						{% if strain.strain_type_label == 'indica' %}
							<a href="{{strainstrain_type_label.get_absolute_url}}" id="strain_type_badge_INDICA">{{strain.get_strain_type_label_display}}</a>
						{% endif %}
				</div>
				<div class="card_body">
					{% if liked %}

									
									<a href="{% url 'cannabis_db:like_strain' strain.pk %}"><i class="fa-solid fa-thumbs-up"></i></a></i> 

								{% else %}
									<a href="{% url 'cannabis_db:like_strain' strain.pk %}"><i class="fa-regular fa-thumbs-up"></i></a></i> 
									

								{% endif %}

								({{strain.likes.count}})







								{% if disliked %}
	
								<a href="{% url 'cannabis_db:dislike_strain' strain.pk %}"><i class="fa-solid fa-thumbs-down"></i></a>

								

								{% else %}

								<a href="{% url 'cannabis_db:dislike_strain' strain.pk %}"><i class="fa-regular fa-thumbs-down"></i></a>
								{% endif %}
								({{strain.dislikes.count}})
				</div>
				<div class="card_footer">
					{% if strain.details_list %}
									<p>{{strain.strain_details_list}}</p>
								{% endif %}
									
								{% for strain_spec in strain.strain_specifications.specifications_set.specifications.all %}
										<b>{{strain_spec.get_specification_name_display}}</b> {{strain_spec.specification_value}}%
								{% endfor %}
				</div>
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					card header
				</div>
				<div class="card_body">
					{{strain.description|safe}}</p>
						{% if user.is_authenticated %}
							<a href="" class="edit_section_link"><i class="fa-solid fa-pen-to-square"></i> edit</a>
						{% else %}
						<p>Please <a href="{% url 'account_login' %}">login</a> to edit section.</p>
						
						{% endif %}
							
				</div>
				<div class="card_footer">
					
				</div>
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					<h5>Feelings</h5>
				</div>
				<div class="card_body p-1">
					{% if strain.feelings_reports %}
						
						<div class="row g-1">
							
							{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}
									{% if feeling.type_of_feelings == 'generic' %}				
										<div class="col-md-4">
											<div class="card strain_details_card text-center">
												<div class="center">
													{% load thumbnail %}
													<img src="{% thumbnail feeling.feeling_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												</div>
												<p><b>{{feeling.title}}</b></p>
												<p class="feeling_desc">{{feeling.description}}</p>
											</div>
										</div>
									{% endif %}
							{% endfor %}
						</div>
						{% endif %}
				</div>
				<div class="card_body p-1">
					<div class="row g-1">
							{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}
							
									{% if feeling.type_of_feelings == 'positive' %}		
									<div class="col-md-4">		
										<div class="card strain_details_card text-center">

										<p>{{feeling.title}}</p>
											<p class="feeling_desc">{{feeling.description}}</p>
										</div>
									</div>
									{% endif %}
									
							{% endfor %}
						</div>
				</div>
				<div class="card_body p-1">
					<div class="row g-1">
							{% if strain.feelings_reports %}
								<h5>Negatives</h5>
								{% for feeling in  strain.feelings_reports.feeling_report_list_set.feeling_report_list.all %}																	
										{% if feeling.type_of_feelings == 'negative' %}
										<div class="col-md-4">	
											<div class="card strain_details_card text-center">
												<div class="center">
													{% load thumbnail %}
														<img src="{% thumbnail feeling.feeling_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												</div>
													<p><b>{{feeling.title}}</b></p>
													<p class="feeling_desc">{{feeling.description}}</p>
												
											</div>
										</div>
										{% endif %}
								{% endfor %}
							{% endif %}
						</div>
				</div>
				<div class="card_body">
					card body
				</div>
				
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					<h5>Helps with</h5>
				</div>
				<div class="card_body p-1">
					<div class="row g-1">
							{% if strain.helps_with_reports %}
								
								{% for helps_with in  strain.helps_with_reports.helps_with_report_list.helps_with_report_list.all %}																	
								
										<div class="col-md-6">	
											<div class="card  ">
											<div class="center">
													{% load thumbnail %}
														<img src="{% thumbnail helps_with.helps_with_icon 200x200 crop %}" height="30" width="30" class="img-fluid">
												
											<p><b>{{helps_with.title}}</b></p>
											<p class="feeling_desc">{{helps_with.description}}</p>
											</div>
											</div>
										</div>
								
								{% endfor %}
							{% endif %}
						</div>
				</div>
				
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					<h5>Terpenes</h5>
				</div>
				<div class="card_body p-1">
					<div class="row g-1">
							{% if strain.terpenes_reports %}
								
								{% for terpene in strain.terpenes_reports.terpene_set.terpenes.all %}
									<div class="col-md-4">
										<div class="card  ">
											<p><b>{{terpene.terpene_name}} </b><i>{{terpene.terpene_value}}</i></p>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
				</div>
				
			</div>
			<!-- card ends -->
			<!-- card starts -->
			<div class="card">
				<div class="card_header">
					<h5>Flavors</h5>
				</div>
				<div class="card_body p-1">
					<div class="row g-1">
							{% if strain.flavor_reports %}
								
								{% for flavor in strain.flavor_reports.flavors_list_set.flavors_list.all %}
									<div class="col-md-4">
									
											<div class="card strain_details_card text-center">
												
												
												{%  load thumbnail %}
												<div class="text-center">
												<img src="{% thumbnail flavor.flavor_icon 30x30 crop %}" height="30" width="30" class="img-fluid text-center">
												<p><b>{{flavor.title}}</b></p>
											</div>
											</div>
								
									</div>
								{% endfor %}
							{% endif %}
						</div>
				</div>
				
			</div>
			<!-- card ends -->
			
					<!-- card starts -->
			<div class="card">
				<div class="card_header">
					
				</div>
				<div class="card_body p-1">

				</div>
				
			</div>
			<!-- card ends -->	
		</div>

	</div>
</div>




