{% extends 'cannabis_db/base.html' %}
	{% block content %}












<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div class="filler"></div>
      

<div class="card">

  <h5>Local dispensaries</h5>
    {% for strain in strains %}
      <a href="{{strain.get_absolute_url}}">{{strain}}</a>
    {% endfor %}




</div>



<div class="card">
<h5>Shop by category</h5>

    {% for strain in strains %}
      <a href="{{strain.get_absolute_url}}">{{strain}}</a>
    {% endfor %}




</div>



<div class="card">
<h5>Local dispensaries</h5>

    {% for strain in strains %}
      <a href="{{strain.get_absolute_url}}">{{strain}}</a>
    {% endfor %}




</div>


<div class="card">

<h5>Stay in touch</h5>

Get good reads, local deals, and strain spotlights delivered right to your inbox.
Email address
email@address.com
sign up
By providing us with your email address, you agree to Leafly's Terms of Service and Privacy Policy.


</div>



    </div>

  </div>
</div>











































































	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" style="max-width: 50%; role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>













	{% endblock %}