{% load static %}
{% load thumbnail %}
<div class="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="main_menu float-start">
					<li><a href="{% url 'cannabis_db:front_page' %}"><img src="{% static 'imgs/strains_db_logo.png' %}" height="13" style="margin-top: -2px;"></a></li>
					<li><a href="{% url 'cannabis_db:front_page' %}" class="logo">STRAINS<b class="db_logo_style">DB</b></a></li>
	
					<li><a href="{% url 'cannabis_db:strains' %}">Browse strains</a></li>
					<li><a href="{% url 'blog:front_page' %}">Blog</a></li>
					<li><a href="" class="" data-toggle="modal" data-target="#exampleModalCenter">
  Terpenes Profiles Chart
</a></li>
				</ul>

				<ul class="main_menu float-end">

				{% if user.is_authenticated %}
					<li><a href="{% url 'memberships:profile' %}"><img src="{% thumbnail user.profile.profile_photo 18x18 crop %}" class="img-fluid radius_sm">&nbsp;{{user.username}}</a></li>
					<li><a href="{% url 'account_logout' %}">logout</a></li>
				{% else %}
					<li><a href="{% url 'accounts:login' %}">login</a></li>
					<li><a href="{% url 'accounts:create_account' %}">create account</a></li>
				{% endif %}

				</ul>
			</div>
		</div>
	</div>
</div>