
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">


      <form method="GET" action="{% url 'cannabis_db:search' %}">
        <span class="jaba">
        <input placeholder="Search strains, dispensaries, brands..." type="text" class="form-control search_app_form_tf"  name="search_query">
        <button id="search_app_form_btn"><svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 24 24"><path fill="none" stroke="#456501" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.25" d="M19 11.5a7.5 7.5 0 1 1-15 0a7.5 7.5 0 0 1 15 0m-2.107 5.42l3.08 3.08"/></svg></button>
      </span>
      </form>


    </div>

    <div class="col-md-3"></div>

  </div>
</div>
