




{% extends 'cannabis_db/base.html' %}
	{% block content %}













		<div class="container">
			<div class="row g-2">
<!--###################################################################################################################### -->
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body p-0">
							{% load thumbnail %}
							<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="img-fluid" >
							
						</div>
						<div class="card_footer"></div>
						
					</div>
					<div class="card">
						<div class="card_header"></div>
						<div class="card_body">
							
						
							{% include 'components/sidebar_menu.html' %}
						</div>
						<div class="card_footer"></div>
						
					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-6">				
					<div class="filler"></div>
					<div class="card">
							<h5>edit profile</h5>

						{% include 'misc/profile_social_links.html' %}



												<table class="table table-borderless ">

							<form method="POST">

								{% csrf_token %}

								<tr><td class="p-0">{{edit_profile_form.biography}}</td></tr>

								<tr><td class="p-0"><button class="official_green_button_m">edit biography</button></td></tr>

							</form>
					
						</table>
				
						
						<table class="table table-borderless ">

							<form method="POST">

								{% csrf_token %}

								<tr><td class="p-0">{{edit_profile_social_profiles_form.website_url}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.twitter}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.facebook}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.youtube}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.instagram}}</td></tr>

								<tr><td class="p-0"><button class="official_green_button_m">edit social profiles</button></td></tr>

							</form>

						</table>

					</div>
				</div>
<!--###################################################################################################################### -->
				<div class="col-md-2">	
					<div class="filler"></div>		
					{% for follower in user.profile.followers.all %}
						<a href="">{{follower}}</a>
					{% endfor %}
				</div>
			</div>
		</div>





<div class="filler_large"></div>





	{% endblock %}







