{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card  p-3">
					<div id="profile_photo_box">
						{% load thumbnail %}
						<img src="{% thumbnail user.profile.profile_photo 500x500 crop %}" class="  border_radius_sm img-fluid" >
						<br>
						
					</div>
					</div>

					<div class="card custom_card p-3">

								{% include 'widgets/sidebar.html' %}
													<ul class="profile_links">
						
							<li><a href="{% url 'memberships:edit_profile' user.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit profile</a></li>
							<li><a href="{% url 'accounts:account_settings' %}"><i class="fa-solid fa-sliders"></i> Settings</a></li>
							<li><a href=""><i class="fa-solid fa-message"></i> My reviews</a></li>
							<li><a href="{% url 'cannabis_db:saved_dispensaries' user.pk %}"><i class="fa-solid fa-message"></i> My saved dispensaries</a></li>
							<li>
								{% if user.is_authenticated %}
									<i class="fa-solid fa-bookmark"></i> <a href="{% url 'cannabis_db:saved_strains' user.pk %}">My saved strains</a>
								{% endif %}
							</li>
					
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					
					<div class="filler"></div>
					<div class="card p-3">
						<h5 id="profile_greeting_headline"><b>Edit profile:</b> <span>{{user}}</span></h5>
						<hr>
						<br>
						<p>Here you can edit your basic information such as biography, follow links, etc.</p>
						<br>

						<div class="row">


					<div class="col-lg-12">


						<table class="table table-borderless ">

							<form method="POST">

								{% csrf_token %}

								<tr><td class="p-0">{{edit_profile_form.biography}}</td></tr>

								<tr><td class="p-0"><button class="official_green_button_m">edit biography</button></td></tr>

							</form>
					
						</table>
				
						
						<table class="table table-borderless ">

							<form method="POST">

								{% csrf_token %}

								<tr><td class="p-0">{{edit_profile_social_profiles_form.website_url}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.twitter}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.facebook}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.youtube}}</td></tr>
								<tr><td class="p-0">{{edit_profile_social_profiles_form.instagram}}</td></tr>

								<tr><td class="p-0"><button class="official_green_button_m">edit social profiles</button></td></tr>

							</form>

						</table>

					
						</div>


					</div>
				</div>
				<div class="col-md-2">	
				<div class="filler"></div>		

				</div>
			</div>
		</div>
	{% endblock %}







