{% extends 'template_parts/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					2
				</div>
				<div class="col-md-10">
								<div class="filler"></div>
													<h1>Brands directory</h1>
													<hr>



					<table class="table table-hover">
						<tr>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								Title
							</td>
							<td>
								URL
							</td>
							<td>
								Phone
							</td>
						</tr>
						{% for brand in brands.all %}
						<tr class="bordered-bottom">
							<td>
								{{forloop.counter}}
							</td>
							<td>
								<input type="checkbox">
							</td>
							<td>
								{% if brand.brand_logo %}
								<img src="{{brand.brand_logo.url}}" width="20">
								{% endif %}
							</td>
							<td>
								<a href="{{brand.get_absolute_url}}">{{brand.title}}</a>
							</td>
							<td>
								{{brand.websiteURL}}	
							</td>
							<td>
								{{brand.phone_number}}
							</td>
					
						</tr>
						{% endfor %}
					</table>

					
				</div>
				
			</div>
		</div>
	{% endblock %}