{% extends 'template_parts/base.html' %}
	{% block content %}
		{{dispensary.type_of_dispensary}}
		{{dispensary.shopping_options}}
		{{dispensary.title}}
		{{dispensary.tagline}}
		{{dispensary.websiteURL}}
		{{dispensary.phone_number}}
		{{dispensary.email_address}}
		{{dispensary.dispensary_logo}}
		{{dispensary.dispensary_cover}}
		{{dispensary.dispensary_description}}
		{{dispensary.dispensary_social_follow}}
		{{dispensary.dispensary_strains}}
		{{dispensary.dispensary_brands}}
		{{dispensary.dispensary_followers}}
		{{dispensary.dispensary_address}}
		{{dispensary.saves}}
		{{dispensary.followers}}
		{{dispensary.longtitude}}
		{{dispensary.latitude}}
	{% endblock %}