<form action="" method="POST" id="" class="float-end">
	<select class="sort_by_filter" id="sort_by_filter"> 
		<option>Best sellers</option>
		<option>A to Z</option>
		<option>Z to A</option>
		<option>Featured</option>
		<option>Sort by top rated</option>
		<option>Sort by most rated</option>
		<option>Price: low to high</option>
		<option>Price: high to low</option>
		<option>Brand: A to Z</option>
		<option>Brand: Z to A</option>
		<option>Newest</option>
	</select>
</form>


<script type="text/javascript">
	
</script>