{% extends 'cannabis_db/base.html' %}
	{% block content %}
		<div class="container">
			<div class="row g-1">
				<div class="col-md-2">
					<div class="filler"></div>
					<div class="card">
						
						<div class="card_body">
						
						</div>
						<div class="card_footer">
					
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="filler"></div>
					<!-- card starts --><!-- card starts --><!-- card starts --><!-- card starts --><!-- card starts -->
					








					<div class="card dispensaries_list_item_card">

							<div class="card_header">
								<div class="row">
								
									<div class="col-3">
							
									</div>
									<div class="col-2">
									
									</div>
						
									<div class="col-7">

										<p class=" type_of_dispensary_label_style">

										
										</p>
									</div>
								</div>
							</div>
							<div class="card_body">
								<div class="row">
								
									<div class="col-4 ">
							
								
									</div>
						
									<div class="col-4 ">
												{% for dispensary in brand.dispensary.all %}
													{{dispensary}}

												{% endfor %}								
									</div>
									
									
									<div class="col-2">

									</div>
								</div>

							</div>
							<div class="card_footer">
								<div class="row">

								</div>
							</div>


					</div>











					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
		
							
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
				
						</div>
						<div class="card_footer">
							
						</div>
					</div>


					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
						
						</div>
						<div class="card_footer">
							
						</div>
					</div>












					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
	
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends --><!-- card ends -->	
				</div>
				<div class="col-md-2">
					<div class="filler"></div>
				<!-- card starts -->
					<div class="card">
						<div class="card_header">

						</div>
						<div class="card_body">
								
						
						</div>
						<div class="card_footer">
							
						</div>
					</div>
					<!-- card ends -->
					<!-- card starts -->
					<div class="card">
						<div class="card_header">
							
						</div>
						<div class="card_body">
		
						</div>
						<div class="card_footer">
					
						</div>
					</div>
					<!-- card ends -->
				</div>
			</div>
		</div>
		<div class="filler_large"></div>













	{% endblock %}

















