{% extends 'template_parts/base.html' %}
{% load thumbnail %}

	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-2 border_right">
					<div class="filler"></div>
						<div class="card">

							<img src="{% thumbnail user.profile.profile_photo 200x200 crop %}" class="img-fluid radius_md">
						</div>
						<div class="card">
						
						</div>
				</div>
				<div class="col-md-6 ">
					<div class="card p-3">
	<br>
						<h1 class="page_heading">Edit profile</h1>
						<br>
						<hr>
						<br>
					<form method="POST">
						{% csrf_token %}
					{{edit_profile_form.as_p}}
					<button class="button md green">Edit profile</button>
				</form>
					{{edit_profile_social_profiles_form}}
					{{change_profile_avatar_form}}
				</div>
				</div>
			</div>
		</div>
	{% endblock %}