{% extends 'template_parts/base.html' %}
{% load thumbnail %}
	{% block content %}
	{% if object.koko.user.profile.visibility_options == 'public' %}
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="filler"></div>
						<div class="card">

							<img src="{% thumbnail object.koko.user.profile.profile_photo 200x200 crop %}" class="img-fluid radius_md">
						</div>
				</div>
				<div class="col-md-10">

					<div class="row">

						<div class="col-lg-12">
							<div class="card p-3">
								
								
<h1 id="profile_heading">{{object.koko.user.first_name}} {{object.koko.user.last_name}} </h1>

									  <p>
													{% if request.user in object.koko.user.profile.followers.all %}
																		Following
										<a href="{% url 'memberships:follow_user' object.koko.user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#018223" d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4l-8 4z"/></svg>
											<b>{{object.koko.user.profile.user.username}}</b>
										</a> | 

									{% else %}
 
										<a href="{% url 'memberships:follow_user' object.koko.user.pk %}" class=" ">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#076900" d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3zm2-3.05l5-2.15l5 2.15V5H7zM7 5h10z"/></svg>
											{{object.koko.user.profile.user.username}}
										</a> | 

									{%  endif %}	







 {{object.koko.user.profile.followers.count}}  follower{{ object.koko.user.profile.followers.count|pluralize }}
  {{ object.koko.user.profile.followers.count|pluralize:","}}  

</p>

</p>
						
							
									
							</div>

							<div class="card p-3">

									<nav>
									  <div class="nav nav-tabs" id="nav-tab" role="tablist">
									    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#018223" d="M15.25 13c.967 0 1.75.784 1.75 1.75v4.504a1.75 1.75 0 0 1-1.75 1.75H3.75A1.75 1.75 0 0 1 2 19.254V14.75c0-.966.784-1.75 1.75-1.75zm5.751 1.896v5.354a.75.75 0 0 1-1.494.102l-.007-.102v-5.343a3 3 0 0 0 1.501-.011m-.75-4.804a1.908 1.908 0 1 1 0 3.816a1.908 1.908 0 0 1 0-3.816m-5.005-7.095c.967 0 1.75.784 1.75 1.75V9.25a1.75 1.75 0 0 1-1.75 1.75h-11.5a1.75 1.75 0 0 1-1.75-1.75V4.747a1.75 1.75 0 0 1 1.607-1.744l.143-.006zM20.251 3a.75.75 0 0 1 .743.649l.007.101v5.346a3 3 0 0 0-1.5-.01V3.75a.75.75 0 0 1 .75-.75"/></svg> Timeline</button>

									    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#018223" fill-rule="evenodd" d="M8 7a4 4 0 1 1 8 0a4 4 0 0 1-8 0m0 6a5 5 0 0 0-5 5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3a5 5 0 0 0-5-5z" clip-rule="evenodd"/></svg> About</button>


									    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="#018223" fill-rule="evenodd" d="M4.76 1.5c-1.278 0-2.365.459-3.127 1.296C.878 3.624.5 4.758.5 6.013c0 2.18 1.11 3.917 2.52 5.268c1.404 1.345 3.17 2.368 4.632 3.133a.75.75 0 0 0 .693.002c1.463-.757 3.228-1.788 4.633-3.14c1.41-1.355 2.522-3.098 2.522-5.263c0-1.26-.38-2.393-1.136-3.221c-.763-.835-1.85-1.293-3.124-1.293c-1.076 0-1.966.399-2.643 1.151A4.5 4.5 0 0 0 8 3.504a4.5 4.5 0 0 0-.597-.854C6.726 1.898 5.836 1.5 4.76 1.5" clip-rule="evenodd"/></svg> Saved strains</button>



									    <button class="nav-link" id="nav-nav-strains-consumed-tab" data-bs-toggle="tab" data-bs-target="#nav-strains-consumed" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="#2a4d00" d="M17 19v3h-2v-3c0-1.1-.9-2-2-2h-3c-2.8 0-5-2.2-5-5c0-1.2.4-2.2 1.1-3.1C3.8 8.5 2 6.4 2 4c0-.7.2-1.4.4-2h2.4c-.5.5-.8 1.2-.8 2c0 1.7 1.3 3 3 3h3v2c-1.7 0-3 1.3-3 3s1.3 3 3 3h3c2.2 0 4 1.8 4 4m.9-10.1C20.2 8.5 22 6.4 22 4c0-.7-.2-1.4-.4-2h-2.4c.5.5.8 1.2.8 2c0 1.7-1.3 3-3 3h-1.2c.1.3.2.6.2 1c0 1.7-1.3 3-3 3v2c2.8 0 5 2.2 5 5v4h2v-4c0-2.7-1.5-5-3.8-6.2c.9-.7 1.5-1.7 1.7-2.9"/></svg> Strains consumed</button>


									    <button class="nav-link" id="nav-nav-saved-dispensaries-tab" data-bs-toggle="tab" data-bs-target="#nav-saved-dispensaries" type="button" role="tab" aria-controls="nav-saved-dispensaries" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#006102" d="M4 6V4h16v2zm0 14v-6H3v-2l1-5h16l1 5v2h-1v6h-2v-6h-4v6zm2-2h6v-4H6z"/></svg>Saved dispensaries</button>


									    <button class="nav-link" id="nav-nav-saved-brands-tab" data-bs-toggle="tab" data-bs-target="#nav-saved-brands" type="button" role="tab" aria-controls="nav-saved-brands" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="#006102" d="M256 16c-38.355 67.122-53.713 168.713-46.096 249.691C162.114 202.531 80 160 48 144c0 44.276 61.262 134.485 125.51 185.89C122.122 316.443 48 320 16 320c27.009 27.009 99.61 54.017 157.943 66.773C142.34 396.846 123.34 427.495 96 448c49.447 0 121.079-21.399 151-49.203V496h18v-97.203C294.921 426.6 366.553 448 416 448c-27.34-20.505-46.34-51.154-77.943-61.227C396.39 374.017 468.99 347.01 496 320c-32 0-106.122-3.558-157.51 9.89C402.738 278.486 464 188.277 464 144c-48 16-114.114 58.531-161.904 121.691C309.713 184.713 294.356 83.121 256 16"/></svg>Saved brands</button>



									  </div>
									</nav>
									<div class="tab-content" id="nav-tabContent">
									  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">...</div>
									  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
									<br>
									  	<p>{{object.koko.user.profile.biography|safe}}</p>
<br>
									  </div>
									  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
									  	<div class="filler"></div>
									  	

									<div class="row g-2"> 		
				{% for strain in object.koko.saved_strains.all %}			
					<div class="col-md-2 ">
						<div class="card">

							{% if strain.strain_type_label == 'indica' %}

								<mark class="strain_type_label" id="strain_label_indica">In</mark>

							{% elif strain.strain_type_label == 'sativa' %}

								<mark class="strain_type_label" id="strain_label_sativa">St</mark>

							{% elif strain.strain_type_label == 'hybrid' %}

								<mark class="strain_type_label" id="strain_label_hybrid">Hy</mark>

							{% endif %}

							<div class="koko">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
<style type="text/css">
	.koko{
		position: absolute;
		right: 3px;
	}
</style>
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md lazy">
							</a>
							<a href="{{strain.get_absolute_url}}" >{{strain.title}}</a>

							
						</div>
					</div>			
							
				{% endfor %}
			</div>
									  </div>




<div class="tab-pane fade  " id="nav-strains-consumed" role="tabpanel" aria-labelledby="nav-strains-consumed" tabindex="0">
	<div class="filler"></div>
	<div class="row g-2">
					{% for strain in object.koko.user.users_smoked.all %}			
					<div class="col-md-2 ">
						<div class="card">

							{% if strain.strain_type_label == 'indica' %}

								<mark class="strain_type_label" id="strain_label_indica">In</mark>

							{% elif strain.strain_type_label == 'sativa' %}

								<mark class="strain_type_label" id="strain_label_sativa">St</mark>

							{% elif strain.strain_type_label == 'hybrid' %}

								<mark class="strain_type_label" id="strain_label_hybrid">Hy</mark>

							{% endif %}

							<div class="koko">
							{% include 'components/buttons/bookmarking.html' %}
						</div>
<style type="text/css">
	.koko{
		position: absolute;
		right: 3px;
	}
</style>
							<a href="{{strain.get_absolute_url}}">
								<img src="{% thumbnail strain.featured_image 700x700 crop %}" class="img-fluid radius_md lazy">
							</a>
							<a href="{{strain.get_absolute_url}}" >{{strain.title}}</a>

							
						</div>
					</div>			
							
				{% endfor %}
			</div>
</div>



  <div class="tab-pane fade" id="nav-saved-dispensaries" role="tabpanel" aria-labelledby="nav-saved-dispensaries" tabindex="0">
									  	<div class="filler"></div>

									 		<div class="row g-2">

			</div>
									  </div>




  <div class="tab-pane fade" id="nav-saved-brands" role="tabpanel" aria-labelledby="nav-saved-brands" tabindex="0">
									  	<div class="filler"></div>

									 		<div class="row g-2">

			</div>
									  </div>									


									</div>
							</div>
					
						</div>
					</div>
				</div>
				
			</div>
		</div>
				{% else %}
		<div class="container">
			<div class="row">
			<div class="col-lg-12 center"><h1 style="font-weight: 300;">You're not allowed to view this profile because the user who created it set their profile visibility options to 'Private'.</h1>
			</div></div>
		</div>
		{% endif %}
	{% endblock %}